workflow/minimal_workflow_webhook.json
{
  "name": "Resume Enhancer Minimal",
  "nodes": [
    {"id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "resume-enhance-test", "parameters": {"path": "resume-enhance", "httpMethod": "POST", "responseMode": "lastNode", "options": {}}},
    {"id": "input", "name": "User Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [220, 0], "parameters": {"mode": "raw", "jsonOutput": "={\n  \"resume_path\": \"{{ $json.body?.resume_path || '/data/input/master_resume.pdf' }}\",\n  \"job_url\": \"{{ $json.body?.job_url || '' }}\",\n  \"jd_text\": {{ JSON.stringify($json.body?.jd_text || '') }},\n  \"language\": \"{{ $json.body?.language || 'en' }}\",\n  \"tone\": \"{{ $json.body?.tone || 'professional' }}\",\n  \"pages\": {{ $json.body?.pages || 1 }}\n}", "options": {}}},
    {"id": "checkJdSource", "name": "Check JD Source", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [440, 0], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "1", "leftValue": "={{ $json.job_url }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}]}}},
    {"id": "fetchJd", "name": "Fetch Job Description", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, -100], "parameters": {"method": "GET", "url": "=https://r.jina.ai/{{ encodeURIComponent($json.job_url) }}", "options": {"timeout": 30000}, "headers": {"parameters": [{"name": "Accept", "value": "text/plain"}]}}},
    {"id": "extractJd", "name": "Extract JD", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, -100], "parameters": {"jsCode": "const input = $('User Input').item.json;\nconst fetchedText = $input.first().json.data || $input.first().json.body || '';\nlet jdText = String(fetchedText).trim();\nif (jdText.length < 100) {\n  jdText = 'Failed to fetch job description. URL may be inaccessible.';\n}\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: 'fetched'\n  }\n}];"}},
    {"id": "useManualJd", "name": "Use Manual JD", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 100], "parameters": {"jsCode": "const input = $('User Input').item.json;\nreturn [{\n  json: {\n    ...input,\n    jd_source: 'manual'\n  }\n}];"}},
    {"id": "readResume", "name": "Read Resume", "type": "n8n-nodes-base.readBinaryFiles", "typeVersion": 1, "position": [1100, 0], "parameters": {"fileSelector": "={{ $json.resume_path }}"}},
    {"id": "extractText", "name": "Extract PDF Text", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1, "position": [1320, 0], "parameters": {"operation": "pdf", "binaryPropertyName": "data", "options": {}}},
    {"id": "parseResume", "name": "Parse Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1540, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert resume parser. Extract structured data from this resume text.\n\nResume text:\n{{ $json.text }}\n\nReturn JSON with these fields:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Current/Target Job Title\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Professional summary\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},
    {"id": "enhance", "name": "Enhance Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1760, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o"}, "messages": {"values": [{"content": "=STEP 1: Determine candidate level based on years of experience, job titles, and responsibility complexity:\n- JUNIOR (0-2 years): Entry-level tasks, learning, assisting\n- MID (2-5 years): Independent work, some ownership\n- SENIOR (5+ years): Leadership, architecture, mentoring\n\nSTEP 2: Enhance resume ONLY within the candidate's level.\n\nABSOLUTE RULES - VIOLATION = FAILURE:\n1. NEVER add numbers, percentages, or metrics NOT in original\n2. NEVER add team sizes, revenue, or user counts NOT in original\n3. NEVER add technologies NOT mentioned in original\n4. NEVER claim achievements above candidate's level:\n   - Junior cannot \"led team\" or \"architected system\"\n   - Mid cannot \"saved company $5M\" or \"managed department\"\n5. NEVER add outcomes that weren't stated\n\nALLOWED:\n- Replace weak verbs with action verbs appropriate to level\n- Add JD keywords IF the underlying skill exists in original\n- Rephrase for clarity and impact\n- Highlight relevant existing experience\n\nEXAMPLES:\nJUNIOR Original: \"Helped with code reviews\"\n OK: \"Participated in code review process\"\n WRONG: \"Conducted 50+ code reviews, reducing bugs by 30%\"\n\nMID Original: \"Worked on backend features\"\n OK: \"Developed backend features\"\n WRONG: \"Architected scalable microservices handling 1M requests\"\n\nSENIOR Original: \"Led development team\"\n OK: \"Directed software development initiatives\"\n WRONG: \"Led team of 25 engineers\" (if number not in original)\n\n---\nOriginal Resume:\n{{ JSON.stringify($json.message?.content || $json) }}\n\nJob Description (for keywords only):\n{{ $('Read Resume').item.json.jd_text.substring(0, 4000) }}\n\nReturn ONLY this JSON:\n{\"detected_level\":\"junior|mid|senior\",\"enhanced_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},
    {"id": "verify", "name": "Verify Resume", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1980, 0], "parameters": {"jsCode": "// Parse the enhance resume output\nconst input = $input.first().json;\nlet enhancedData;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n// Get the content from enhance resume\nlet content = input.message?.content || input.content || input;\nif (typeof content === 'string') {\n  try {\n    content = stripMarkdown(content);\n    enhancedData = JSON.parse(content);\n  } catch (e) {\n    throw new Error('Failed to parse Enhance Resume output: ' + content.substring(0, 200));\n  }\n} else {\n  enhancedData = content;\n}\n\nconst detectedLevel = enhancedData.detected_level || 'mid';\nconst enhancedResume = enhancedData.enhanced_resume || enhancedData;\n\n// Get original resume from Parse Resume\nlet originalContent = $('Parse Resume').item.json.message?.content;\nlet originalResume;\nif (typeof originalContent === 'string') {\n  try {\n    originalContent = stripMarkdown(originalContent);\n    originalResume = JSON.parse(originalContent);\n  } catch (e) {\n    originalResume = { raw: originalContent };\n  }\n} else {\n  originalResume = originalContent;\n}\n\n// Pass data to next node (verification will be done by LLM)\nreturn [{\n  json: {\n    detected_level: detectedLevel,\n    enhanced_resume: enhancedResume,\n    original_resume: originalResume\n  }\n}];"}},
    {"id": "verifyLlm", "name": "Verify LLM", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [2200, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are a JSON-only fact-checker. You MUST respond with ONLY valid JSON.\n\nORIGINAL RESUME:\n{{ JSON.stringify($json.original_resume) }}\n\nENHANCED RESUME:\n{{ JSON.stringify($json.enhanced_resume) }}\n\nDETECTED LEVEL: {{ $json.detected_level }}\n\nCheck each bullet point for fabrications:\n1. Added numbers/metrics NOT in original = violation\n2. Added technologies NOT in original = violation\n3. Claims above candidate level = violation\n\nFor violations: revert to truthful version using ONLY original facts.\n\nReturn ONLY this JSON:\n{\"verified\":true,\"violations_found\":0,\"corrected_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}\n\nIf no violations, copy enhanced_resume into corrected_resume unchanged."}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},
    {"id": "buildHtml", "name": "Build HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2420, 0], "parameters": {"jsCode": "// Get the corrected resume from verification step\nconst input = $input.first().json;\nlet r;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n// Try to get corrected_resume from the verify step\nlet content = input.message?.content || input;\nif (typeof content === 'string') {\n  try {\n    content = stripMarkdown(content);\n    content = JSON.parse(content);\n  } catch (e) {\n    throw new Error('Failed to parse verify response: ' + content.substring(0, 200));\n  }\n}\n\n// Get the corrected resume\nr = content.corrected_resume || content;\nif (!r || !r.name) {\n  throw new Error('No corrected_resume found in verify output');\n}\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Arial', sans-serif; font-size: 11pt; line-height: 1.4; color: #333; padding: 0.5in; max-width: 8.5in; }\n    h1 { font-size: 18pt; color: #1a1a1a; margin-bottom: 2px; }\n    .title { font-size: 12pt; color: #555; margin-bottom: 8px; }\n    .contact { font-size: 9pt; color: #666; margin-bottom: 15px; }\n    h2 { font-size: 12pt; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 15px 0 8px 0; text-transform: uppercase; }\n    .job { margin-bottom: 12px; }\n    .job-header { display: flex; justify-content: space-between; margin-bottom: 3px; }\n    .job-title { font-weight: bold; }\n    ul { margin-left: 18px; margin-top: 3px; }\n    li { margin-bottom: 2px; }\n    .edu { margin-bottom: 8px; }\n    .skills { display: flex; flex-wrap: wrap; gap: 15px; }\n    .skill-group { flex: 1; min-width: 200px; }\n    .skill-label { font-weight: bold; font-size: 10pt; }\n  </style>\n</head>\n<body>\n  <h1>${esc(r.name)}</h1>\n  <div class=\"title\">${esc(r.title)}</div>\n  <div class=\"contact\">\n    ${r.contact?.email || ''} ${r.contact?.phone ? ' | ' + r.contact.phone : ''} ${r.contact?.location ? ' | ' + r.contact.location : ''}\n  </div>\n  ${r.summary ? '<h2>Summary</h2><p>' + esc(r.summary) + '</p>' : ''}\n  ${r.experience?.length ? '<h2>Experience</h2>' + r.experience.map(j => '<div class=\"job\"><div class=\"job-header\"><span class=\"job-title\">' + esc(j.title) + ' | ' + esc(j.company) + '</span><span>' + esc(j.dates) + '</span></div>' + (j.bullets?.length ? '<ul>' + j.bullets.map(b => '<li>' + esc(b) + '</li>').join('') + '</ul>' : '') + '</div>').join('') : ''}\n  ${r.education?.length ? '<h2>Education</h2>' + r.education.map(e => '<div class=\"edu\"><strong>' + esc(e.degree) + '</strong> - ' + esc(e.school) + (e.dates ? ' | ' + esc(e.dates) : '') + '</div>').join('') : ''}\n  ${r.skills ? '<h2>Skills</h2><div class=\"skills\">' + Object.entries(r.skills).filter(([k,v]) => v?.length).map(([k,v]) => '<div class=\"skill-group\"><span class=\"skill-label\">' + k + ':</span> ' + v.join(', ') + '</div>').join('') + '</div>' : ''}\n  ${r.certifications?.length ? '<h2>Certifications</h2><ul>' + r.certifications.map(c => '<li>' + esc(c) + '</li>').join('') + '</ul>' : ''}\n</body>\n</html>`;\n\n// Include verification info in output\nconst verified = content.verified;\nconst violations = content.violations_found || 0;\n\nreturn [{ json: { html, resume: r, verified, violations_found: violations } }];"}},
    {"id": "prepareFile", "name": "Prepare PDF File", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 0], "parameters": {"jsCode": "const html = $input.first().json.html;\nconst htmlBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { resume: $input.first().json.resume },\n  binary: {\n    'index.html': {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"}},
    {"id": "sendToPdf", "name": "Convert to PDF", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2860, 0], "parameters": {"method": "POST", "url": "http://gotenberg:3000/forms/chromium/convert/html", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"parameterType": "formBinaryData", "name": "files", "inputDataFieldName": "index.html"}]}, "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "pdf"}}}}},
    {"id": "writePdf", "name": "Write PDF", "type": "n8n-nodes-base.writeBinaryFile", "typeVersion": 1, "position": [3080, 0], "parameters": {"fileName": "=/data/output/improved_resume.pdf", "dataPropertyName": "pdf", "options": {}}},
    {"id": "summary", "name": "Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3300, 0], "parameters": {"jsCode": "const resume = $('Prepare PDF File').item.json.resume;\nconst jdSource = $('Read Resume').item.json.jd_source;\nconst buildHtml = $('Build HTML').item.json;\nconst verified = buildHtml.verified;\nconst violations = buildHtml.violations_found || 0;\nreturn [{ json: { success: true, name: resume?.name, title: resume?.title, jd_source: jdSource, verified: verified, violations_corrected: violations, output_file: '/data/output/improved_resume.pdf', message: verified ? 'Resume enhanced and verified!' : `Resume enhanced with ${violations} corrections made.` } }];"}}
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "User Input", "type": "main", "index": 0}]]},
    "User Input": {"main": [[{"node": "Check JD Source", "type": "main", "index": 0}]]},
    "Check JD Source": {"main": [[{"node": "Fetch Job Description", "type": "main", "index": 0}], [{"node": "Use Manual JD", "type": "main", "index": 0}]]},
    "Fetch Job Description": {"main": [[{"node": "Extract JD", "type": "main", "index": 0}]]},
    "Extract JD": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Use Manual JD": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Read Resume": {"main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]},
    "Extract PDF Text": {"main": [[{"node": "Parse Resume", "type": "main", "index": 0}]]},
    "Parse Resume": {"main": [[{"node": "Enhance Resume", "type": "main", "index": 0}]]},
    "Enhance Resume": {"main": [[{"node": "Verify Resume", "type": "main", "index": 0}]]},
    "Verify Resume": {"main": [[{"node": "Verify LLM", "type": "main", "index": 0}]]},
    "Verify LLM": {"main": [[{"node": "Build HTML", "type": "main", "index": 0}]]},
    "Build HTML": {"main": [[{"node": "Prepare PDF File", "type": "main", "index": 0}]]},
    "Prepare PDF File": {"main": [[{"node": "Convert to PDF", "type": "main", "index": 0}]]},
    "Convert to PDF": {"main": [[{"node": "Write PDF", "type": "main", "index": 0}]]},
    "Write PDF": {"main": [[{"node": "Summary", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
