workflow/minimal_workflow_v3.json
{
  "name": "Resume Enhancer v3 + ATS + Job Fetcher",
  "nodes": [
    {"id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "resume-enhance-v3", "parameters": {"path": "resume-enhance-v3", "httpMethod": "POST", "responseMode": "lastNode", "options": {}}},

    {"id": "input", "name": "User Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [220, 0], "parameters": {"mode": "raw", "jsonOutput": "={\n  \"resume_path\": \"{{ ($json.body && $json.body.resume_path) ? $json.body.resume_path : ($json.resume_path || '/data/input/master_resume.pdf') }}\",\n  \"job_url\": \"{{ ($json.body && $json.body.job_url) ? $json.body.job_url : ($json.job_url || '') }}\",\n  \"jd_text\": {{ JSON.stringify(($json.body && $json.body.jd_text) ? $json.body.jd_text : ($json.jd_text || '')) }},\n  \"language\": \"{{ ($json.body && $json.body.language) ? $json.body.language : ($json.language || 'en') }}\",\n  \"tone\": \"{{ ($json.body && $json.body.tone) ? $json.body.tone : ($json.tone || 'professional') }}\",\n  \"pages\": {{ ($json.body && $json.body.pages) ? $json.body.pages : ($json.pages || 1) }}\n}", "options": {}}},

    {"id": "checkJdSource", "name": "Check JD Source", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [440, 0], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "1", "leftValue": "={{ $json.job_url }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}]}}},

    {"id": "checkLinkedIn", "name": "Is LinkedIn?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [660, -100], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "1", "leftValue": "={{ $json.job_url.toLowerCase() }}", "rightValue": "linkedin.com", "operator": {"type": "string", "operation": "contains"}}]}}},

    {"id": "fetchJobFetcher", "name": "Fetch via Job-Fetcher", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, -200], "continueOnFail": true, "parameters": {"method": "POST", "url": "http://job-fetcher:3000/fetch", "sendBody": true, "bodyParameters": {"parameters": []}, "specifyBody": "json", "jsonBody": "={\n  \"url\": \"{{ $json.job_url }}\",\n  \"options\": { \"timeoutMs\": 45000 }\n}", "options": {"timeout": 60000}}},

    {"id": "processJobFetcher", "name": "Process Job-Fetcher Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, -200], "parameters": {"jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'job-fetcher';\nlet fetchError = null;\nlet fetchBlocked = false;\nlet blockReason = null;\nlet applyUrl = null;\nlet jobTitle = null;\nlet jobCompany = null;\nlet jobLocation = null;\n\nif (fetchResult.ok && !fetchResult.blocked) {\n  jdText = fetchResult.descriptionText || '';\n  applyUrl = fetchResult.applyUrl || null;\n  jobTitle = fetchResult.title || null;\n  jobCompany = fetchResult.company || null;\n  jobLocation = fetchResult.location || null;\n} else if (fetchResult.blocked) {\n  fetchError = `LinkedIn blocked: ${fetchResult.reason || 'unknown'}`;\n  fetchBlocked = true;\n  blockReason = fetchResult.reason;\n  applyUrl = fetchResult.applyUrl || null;\n  jdSource = 'blocked';\n} else {\n  fetchError = fetchResult.error || fetchResult.message || 'Unknown error';\n  jdSource = 'fetch_failed';\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl,\n    job_title: jobTitle,\n    job_company: jobCompany,\n    job_location: jobLocation\n  }\n}];"}},

    {"id": "fetchJinaReader", "name": "Fetch via Jina Reader", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 0], "continueOnFail": true, "parameters": {"method": "GET", "url": "=https://r.jina.ai/{{ encodeURIComponent($json.job_url) }}", "options": {"timeout": 60000}, "headers": {"parameters": [{"name": "Accept", "value": "text/plain"}]}}},

    {"id": "processJinaResponse", "name": "Process Jina Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 0], "parameters": {"jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'jina';\nlet fetchError = null;\n\nif (fetchResult.error || fetchResult.code === 'ECONNABORTED') {\n  fetchError = fetchResult.error?.message || fetchResult.message || 'Request timed out or blocked';\n  jdText = '';\n  jdSource = 'fetch_failed';\n} else {\n  const fetchedText = fetchResult.data || fetchResult.body || '';\n  jdText = String(fetchedText).trim();\n  \n  if (jdText.length < 100) {\n    jdText = '';\n    jdSource = 'fetch_failed';\n    fetchError = 'Response too short or empty';\n  }\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"}},

    {"id": "useManualJd", "name": "Use Manual JD", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 100], "parameters": {"jsCode": "const input = $('User Input').item.json;\nreturn [{\n  json: {\n    ...input,\n    jd_source: 'manual',\n    fetch_error: null,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"}},

    {"id": "readResume", "name": "Read Resume", "type": "n8n-nodes-base.readBinaryFiles", "typeVersion": 1, "position": [1320, 0], "parameters": {"fileSelector": "={{ $json.resume_path }}"}},

    {"id": "extractText", "name": "Extract PDF Text", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1, "position": [1540, 0], "parameters": {"operation": "pdf", "binaryPropertyName": "data", "options": {}}},

    {"id": "mergeJdData", "name": "Merge JD Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 0], "parameters": {"jsCode": "const item = $input.first();\nconst resumeText = item.json.text || '';\n\n// JD data must be retrieved from Process nodes directly\n// because Read Resume and Extract PDF Text don't preserve JSON\nlet jdData = null;\nconst processNodes = ['Process Job-Fetcher Response', 'Process Jina Response', 'Use Manual JD'];\nfor (const nodeName of processNodes) {\n  try {\n    const nodeData = $(nodeName).first().json;\n    if (nodeData && nodeData.jd_source !== undefined) {\n      jdData = nodeData;\n      break;\n    }\n  } catch (e) {\n    // Node wasn't executed in this branch\n  }\n}\n\nif (!jdData) {\n  jdData = { jd_text: '', jd_source: 'unknown' };\n}\n\nreturn [{\n  json: {\n    text: resumeText,\n    jd_text: jdData.jd_text || '',\n    jd_source: jdData.jd_source || 'unknown',\n    fetch_error: jdData.fetch_error || null,\n    fetch_blocked: jdData.fetch_blocked || false,\n    block_reason: jdData.block_reason || null,\n    apply_url: jdData.apply_url || null,\n    job_title: jdData.job_title || null,\n    job_company: jdData.job_company || null,\n    job_location: jdData.job_location || null\n  }\n}];"}},

    {"id": "parseResume", "name": "Parse Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1980, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert resume parser. Extract structured data from this resume text.\n\nResume text:\n{{ $json.text }}\n\nReturn JSON with these fields:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Current/Target Job Title\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Professional summary\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "enhance", "name": "Enhance Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [2200, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o"}, "messages": {"values": [{"content": "=STEP 1: Determine candidate level based on years of experience, job titles, and responsibility complexity:\n- JUNIOR (0-2 years): Entry-level tasks, learning, assisting\n- MID (2-5 years): Independent work, some ownership\n- SENIOR (5+ years): Leadership, architecture, mentoring\n\nSTEP 2: Enhance resume ONLY within the candidate's level.\n\nABSOLUTE RULES - VIOLATION = FAILURE:\n1. NEVER add numbers, percentages, or metrics NOT in original\n2. NEVER add team sizes, revenue, or user counts NOT in original\n3. NEVER add technologies NOT mentioned in original\n4. NEVER claim achievements above candidate's level:\n   - Junior cannot \"led team\" or \"architected system\"\n   - Mid cannot \"saved company $5M\" or \"managed department\"\n5. NEVER add outcomes that weren't stated\n\nALLOWED:\n- Replace weak verbs with action verbs appropriate to level\n- Add JD keywords IF the underlying skill exists in original\n- Rephrase for clarity and impact\n- Highlight relevant existing experience\n\nEXAMPLES:\nJUNIOR Original: \"Helped with code reviews\"\n OK: \"Participated in code review process\"\n WRONG: \"Conducted 50+ code reviews, reducing bugs by 30%\"\n\nMID Original: \"Worked on backend features\"\n OK: \"Developed backend features\"\n WRONG: \"Architected scalable microservices handling 1M requests\"\n\nSENIOR Original: \"Led development team\"\n OK: \"Directed software development initiatives\"\n WRONG: \"Led team of 25 engineers\" (if number not in original)\n\n---\nOriginal Resume:\n{{ JSON.stringify($json.message?.content || $json) }}\n\nJob Description (for keywords only):\n{{ $('Merge JD Data').item.json.jd_text.substring(0, 4000) }}\n\nReturn ONLY this JSON:\n{\"detected_level\":\"junior|mid|senior\",\"enhanced_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "verify", "name": "Verify Resume", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2420, 0], "parameters": {"jsCode": "const input = $input.first().json;\nlet enhancedData;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet content = input.message?.content || input.content || input;\nif (typeof content === 'string') {\n  try {\n    content = stripMarkdown(content);\n    enhancedData = JSON.parse(content);\n  } catch (e) {\n    throw new Error('Failed to parse Enhance Resume output: ' + content.substring(0, 200));\n  }\n} else {\n  enhancedData = content;\n}\n\nconst detectedLevel = enhancedData.detected_level || 'mid';\nconst enhancedResume = enhancedData.enhanced_resume || enhancedData;\n\nlet originalContent = $('Parse Resume').item.json.message?.content;\nlet originalResume;\nif (typeof originalContent === 'string') {\n  try {\n    originalContent = stripMarkdown(originalContent);\n    originalResume = JSON.parse(originalContent);\n  } catch (e) {\n    originalResume = { raw: originalContent };\n  }\n} else {\n  originalResume = originalContent;\n}\n\nreturn [{\n  json: {\n    detected_level: detectedLevel,\n    enhanced_resume: enhancedResume,\n    original_resume: originalResume\n  }\n}];"}},

    {"id": "verifyLlm", "name": "Verify LLM", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [2640, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are a JSON-only fact-checker. You MUST respond with ONLY valid JSON.\n\nORIGINAL RESUME:\n{{ JSON.stringify($json.original_resume) }}\n\nENHANCED RESUME:\n{{ JSON.stringify($json.enhanced_resume) }}\n\nDETECTED LEVEL: {{ $json.detected_level }}\n\nCheck each bullet point for fabrications:\n1. Added numbers/metrics NOT in original = violation\n2. Added technologies NOT in original = violation\n3. Claims above candidate level = violation\n\nFor violations: revert to truthful version using ONLY original facts.\n\nReturn ONLY this JSON:\n{\"verified\":true,\"violations_found\":0,\"corrected_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}\n\nIf no violations, copy enhanced_resume into corrected_resume unchanged."}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "prepareAts", "name": "Prepare ATS Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2860, 0], "parameters": {"jsCode": "const input = $input.first().json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet verifyContent = input.message?.content || input;\nif (typeof verifyContent === 'string') {\n  try {\n    verifyContent = stripMarkdown(verifyContent);\n    verifyContent = JSON.parse(verifyContent);\n  } catch (e) {\n    throw new Error('Failed to parse Verify LLM response: ' + String(verifyContent).substring(0, 200));\n  }\n}\n\nconst correctedResume = verifyContent.corrected_resume || verifyContent;\nconst verified = verifyContent.verified;\nconst violationsFound = verifyContent.violations_found || 0;\n\n// Get JD data from Merge JD Data\nconst mergeData = $('Merge JD Data').item.json;\nconst jdText = mergeData.jd_text || '';\nconst jdLength = jdText.length;\nconst fetchBlocked = mergeData.fetch_blocked || false;\nconst blockReason = mergeData.block_reason || null;\nconst applyUrl = mergeData.apply_url || null;\n\nlet resumeText = '';\nif (correctedResume.summary) resumeText += correctedResume.summary + ' ';\nif (correctedResume.experience) {\n  correctedResume.experience.forEach(exp => {\n    if (exp.bullets) resumeText += exp.bullets.join(' ') + ' ';\n  });\n}\nif (correctedResume.skills) {\n  Object.values(correctedResume.skills).forEach(arr => {\n    if (Array.isArray(arr)) resumeText += arr.join(' ') + ' ';\n  });\n}\nconst resumeLength = resumeText.length;\n\nreturn [{\n  json: {\n    corrected_resume: correctedResume,\n    verified: verified,\n    violations_found: violationsFound,\n    jd_text: jdText,\n    jd_length: jdLength,\n    resume_length: resumeLength,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl\n  }\n}];"}},

    {"id": "atsAnalyzer", "name": "ATS Analyzer", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [3080, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an ATS (Applicant Tracking System) keyword analyzer. You MUST respond with ONLY valid JSON.\n\nJOB DESCRIPTION:\n{{ $json.jd_text.substring(0, 6000) }}\n\nRESUME:\n{{ JSON.stringify($json.corrected_resume) }}\n\nTASK:\n1. Extract 20-60 important keywords from the Job Description:\n   - Hard skills (technologies, languages, cloud, databases, frameworks)\n   - Tools (CI/CD, Terraform, Jira, etc.)\n   - Role-specific terms (SRE, IAM, DevOps, etc.)\n   - Methodologies (Agile, ITIL, Scrum)\n   - DO NOT include generic soft skills like \"team player\", \"communication\", \"fast-paced\"\n   - Remove duplicates and overly generic words\n\n2. Check which keywords appear in the resume (summary, skills, experience bullets, title)\n   - Consider synonyms (e.g., \"CI/CD\" matches \"continuous integration\")\n   - Case-insensitive matching\n\n3. Calculate ATS score: round(matched / total * 100)\n\nReturn ONLY this JSON:\n{\n  \"keywords\": [\"keyword1\", \"keyword2\", ...],\n  \"matched_keywords\": [\"keyword1\", ...],\n  \"missing_keywords\": [\"keyword2\", ...],\n  \"ats_score\": 75,\n  \"notes\": \"Brief 1-2 sentence recommendation. DO NOT suggest adding skills not in the original resume.\"\n}\n\nIMPORTANT:\n- keywords array: 20-60 items\n- matched_keywords + missing_keywords should equal keywords (no overlap)\n- ats_score: integer 0-100\n- If JD is too short (<200 chars), return ats_score: null and notes explaining why"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generateCoverLetter", "name": "Generate Cover Letter", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [3300, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert cover letter writer. Create a professional, personalized cover letter.\n\nCANDIDATE INFO:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nSummary: {{ $('Prepare ATS Input').item.json.corrected_resume.summary }}\n\nKEY EXPERIENCE:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\n\nSKILLS:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nRULES:\n1. Keep it concise: 3-4 paragraphs, ~250 words max\n2. Opening: Express genuine interest in the role, mention company if known\n3. Body: Reference 2-3 specific skills/experiences from resume that match JD requirements\n4. DO NOT invent achievements, metrics, or technologies not in the resume\n5. Closing: Professional call to action, express enthusiasm for interview\n6. Tone: Professional but personable, confident but not arrogant\n7. If no JD provided, write a general cover letter based on resume skills\n\nReturn ONLY this JSON:\n{\n  \"cover_letter\": \"Full cover letter text with proper paragraph breaks using \\n\\n\",\n  \"word_count\": 250\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generateRecruiterQuestions", "name": "Generate Recruiter Questions", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [3520, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert career advisor. Generate thoughtful questions for the candidate to ask recruiters and interviewers.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE FIT ANALYSIS:\nATS Score: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).ats_score : 'N/A' }}%\nMatched Skills: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).matched_keywords?.join(', ') : 'N/A' }}\nGaps: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).missing_keywords?.slice(0, 10).join(', ') : 'N/A' }}\n\nCANDIDATE SKILLS:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nLANGUAGE: {{ $('User Input').item.json.language || 'en' }}\n\nTASK:\nCreate 8-12 insightful questions organized by category. Questions should:\n1. Be SPECIFIC to this role and company (not generic)\n2. Show strategic thinking and genuine interest\n3. Help candidate assess fit and uncover potential concerns\n4. Include \"Why ask\" and \"Listen for\" guidance\n\nAvoid questions easily answered by the job posting.\n\nReturn ONLY this JSON:\n{\n  \"questions\": [\n    {\n      \"category\": \"About the Role\",\n      \"items\": [\n        {\n          \"question\": \"The specific question text\",\n          \"why_ask\": \"Why this question matters\",\n          \"listen_for\": \"What to pay attention to in the answer\"\n        }\n      ]\n    }\n  ],\n  \"questions_to_avoid\": [\"Salary too early\", \"What does company do\"],\n  \"total_count\": 10\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generateInterviewPrep", "name": "Generate Interview Prep", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [3740, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert interview coach. Create a comprehensive interview preparation guide.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE RESUME:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nSummary: {{ $('Prepare ATS Input').item.json.corrected_resume.summary }}\nExperience: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 3)) }}\nSkills: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nFIT ANALYSIS:\nATS Score: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).ats_score : 'N/A' }}%\nMatched: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).matched_keywords?.slice(0, 15).join(', ') : 'N/A' }}\nGaps: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).missing_keywords?.slice(0, 10).join(', ') : 'N/A' }}\n\nLANGUAGE: {{ $('User Input').item.json.language || 'en' }}\n\nCREATE INTERVIEW PREP GUIDE WITH:\n1. 5-8 likely interview questions (behavioral + technical) with suggested answers using ONLY resume facts\n2. 3-5 key achievements to highlight with context\n3. 2-3 potential weaknesses/gaps and how to address them positively\n4. Pre-interview checklist (5-7 items)\n\nCRITICAL: Use ONLY information from the actual resume. Never suggest lying or exaggerating.\n\nReturn ONLY this JSON:\n{\n  \"interview_questions\": [\n    {\n      \"type\": \"behavioral|technical|experience\",\n      \"question\": \"The interview question\",\n      \"key_points\": [\"Point 1\", \"Point 2\"],\n      \"example_answer\": \"Suggested answer using resume facts\"\n    }\n  ],\n  \"achievements_to_highlight\": [\n    {\n      \"achievement\": \"The achievement\",\n      \"context\": \"Why it matters for this role\",\n      \"how_to_present\": \"How to frame it\"\n    }\n  ],\n  \"gaps_to_address\": [\n    {\n      \"gap\": \"The gap or weakness\",\n      \"mitigation\": \"How to address it positively\"\n    }\n  ],\n  \"pre_interview_checklist\": [\"Item 1\", \"Item 2\"],\n  \"salary_tips\": \"Brief salary negotiation advice based on role and experience level\"\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generateStarStories", "name": "Generate STAR Stories", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [3960, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert behavioral interview coach. Create STAR-formatted stories from the candidate's experience.\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nLANGUAGE: {{ $('User Input').item.json.language || 'en' }}\n\nTASK:\nGenerate 5-7 STAR stories that demonstrate competencies required for this role.\n\nSTAR Format:\n- Situation: Set the context (when, where, what was happening)\n- Task: Describe the responsibility or challenge\n- Action: Explain what the candidate specifically did (use \"I\", not \"we\")\n- Result: Share the outcome with metrics if available in resume\n\nCRITICAL RULES:\n1. ONLY USE ACTUAL EXPERIENCES from the resume\n2. Extract stories from job descriptions and achievements\n3. If metrics aren't in the resume, don't invent them\n4. Create stories that match the job's must-have competencies\n5. Each story should demonstrate a different skill\n\nReturn ONLY this JSON:\n{\n  \"star_stories\": [\n    {\n      \"competency\": \"Leadership|Problem-Solving|Technical|Communication|Teamwork|etc\",\n      \"best_for_questions\": [\"Tell me about a time you...\", \"Describe a situation where...\"],\n      \"situation\": \"Context from their actual experience\",\n      \"task\": \"Their specific responsibility\",\n      \"action\": \"What they did - specific steps\",\n      \"result\": \"Outcome with metrics if available\",\n      \"quick_version\": \"30-second condensed version\"\n    }\n  ],\n  \"story_count\": 5\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generate306090Plan", "name": "Generate 30-60-90 Plan", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [4180, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert career coach. Create a realistic 30-60-90 day plan for the new role.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE SKILLS:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nCANDIDATE EXPERIENCE:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\n\nLANGUAGE: {{ $('User Input').item.json.language || 'en' }}\n\nTASK:\nCreate a 30-60-90 day plan that demonstrates understanding of the role and proactive planning.\n\nCRITICAL RULES:\n1. Keep the plan realistic and achievable\n2. Align with actual job requirements\n3. Show initiative without overstepping\n4. Include measurable success metrics\n5. Demonstrate understanding of typical onboarding\n\nReturn ONLY this JSON:\n{\n  \"plan\": {\n    \"days_1_30\": {\n      \"title\": \"Learn & Absorb\",\n      \"goals\": [\"Goal 1\", \"Goal 2\"],\n      \"actions\": [\n        {\"week\": \"1\", \"items\": [\"Action 1\", \"Action 2\"]},\n        {\"week\": \"2\", \"items\": [\"Action 1\", \"Action 2\"]},\n        {\"week\": \"3-4\", \"items\": [\"Action 1\", \"Action 2\"]}\n      ],\n      \"success_metrics\": [\"Metric 1\", \"Metric 2\"]\n    },\n    \"days_31_60\": {\n      \"title\": \"Contribute & Add Value\",\n      \"goals\": [\"Goal 1\", \"Goal 2\"],\n      \"actions\": [\"Action 1\", \"Action 2\"],\n      \"success_metrics\": [\"Metric 1\", \"Metric 2\"]\n    },\n    \"days_61_90\": {\n      \"title\": \"Lead & Optimize\",\n      \"goals\": [\"Goal 1\", \"Goal 2\"],\n      \"actions\": [\"Action 1\", \"Action 2\"],\n      \"success_metrics\": [\"Metric 1\", \"Metric 2\"]\n    }\n  },\n  \"questions_for_manager\": [\"Question 1\", \"Question 2\"]\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "generateGapAnalysis", "name": "Generate Gap Analysis", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [4400, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert career development advisor. Provide a detailed analysis of skill and experience gaps.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 4000) }}\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nATS ANALYSIS:\nScore: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).ats_score : 'N/A' }}%\nMatched: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).matched_keywords?.join(', ') : 'N/A' }}\nMissing: {{ $('ATS Analyzer').item.json.message?.content ? JSON.parse($('ATS Analyzer').item.json.message.content).missing_keywords?.join(', ') : 'N/A' }}\n\nLANGUAGE: {{ $('User Input').item.json.language || 'en' }}\n\nTASK:\nCreate a detailed gap analysis with actionable recommendations.\n\nCRITICAL RULES:\n1. Be honest about gaps - don't minimize critical missing requirements\n2. Provide realistic timelines for skill development\n3. Focus on actionable, specific recommendations\n4. Differentiate between gaps that can be addressed quickly vs long-term\n\nReturn ONLY this JSON:\n{\n  \"executive_summary\": {\n    \"overall_fit\": \"Strong|Moderate|Stretch|Reach\",\n    \"critical_gaps_count\": 2,\n    \"moderate_gaps_count\": 3,\n    \"fit_score\": 75\n  },\n  \"critical_gaps\": [\n    {\n      \"skill\": \"The missing skill\",\n      \"required_level\": \"What job needs\",\n      \"current_state\": \"What candidate has\",\n      \"impact\": \"How it affects chances\",\n      \"mitigation\": {\n        \"for_application\": \"How to address in application\",\n        \"for_interview\": \"How to address in interview\",\n        \"long_term\": \"How to develop this skill\"\n      }\n    }\n  ],\n  \"moderate_gaps\": [\n    {\n      \"skill\": \"The skill\",\n      \"gap_description\": \"What's missing\",\n      \"mitigation\": \"How to address\"\n    }\n  ],\n  \"transferable_skills\": [\n    {\n      \"your_skill\": \"Existing skill\",\n      \"covers_gap\": \"What gap it partially covers\",\n      \"how_to_position\": \"How to frame it\"\n    }\n  ],\n  \"development_roadmap\": {\n    \"quick_wins\": [\"1-2 week actions\"],\n    \"medium_term\": [\"1-3 month actions\"],\n    \"long_term\": [\"3-6 month actions\"]\n  }\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},

    {"id": "mergeAts", "name": "Merge ATS Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4620, 0], "parameters": {"jsCode": "const prepareAts = $('Prepare ATS Input').item.json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nconst parseNodeOutput = (nodeName) => {\n  try {\n    let raw = $(nodeName).item.json.message?.content || $(nodeName).item.json;\n    if (typeof raw === 'string') {\n      raw = stripMarkdown(raw);\n      return JSON.parse(raw);\n    }\n    return raw;\n  } catch (e) {\n    return { error: `Failed to parse ${nodeName}` };\n  }\n};\n\n// Get ATS data\nlet atsContent = parseNodeOutput('ATS Analyzer');\nif (prepareAts.jd_length < 200) {\n  atsContent = {\n    keywords: [],\n    matched_keywords: [],\n    missing_keywords: [],\n    ats_score: null,\n    notes: prepareAts.fetch_blocked \n      ? `LinkedIn blocked (${prepareAts.block_reason}). Paste JD text manually for ATS analysis.`\n      : 'JD too short or unavailable for ATS analysis.'\n  };\n}\n\nconst ats = {\n  ats_score: atsContent.ats_score,\n  matched_keywords: atsContent.matched_keywords || [],\n  missing_keywords: atsContent.missing_keywords || [],\n  notes: atsContent.notes || ''\n};\n\n// Get Cover Letter\nconst coverLetterData = parseNodeOutput('Generate Cover Letter');\nconst coverLetterText = coverLetterData.cover_letter || '';\nconst coverLetterWordCount = coverLetterData.word_count || 0;\n\n// Get Recruiter Questions\nconst recruiterQuestions = parseNodeOutput('Generate Recruiter Questions');\n\n// Get Interview Prep\nconst interviewPrep = parseNodeOutput('Generate Interview Prep');\n\n// Get STAR Stories\nconst starStories = parseNodeOutput('Generate STAR Stories');\n\n// Get 30-60-90 Plan\nconst plan306090 = parseNodeOutput('Generate 30-60-90 Plan');\n\n// Get Gap Analysis from $input (last node in chain)\nlet gapRaw = $input.first().json.message?.content || $input.first().json;\nlet gapAnalysis = null;\nif (typeof gapRaw === 'string') {\n  try {\n    gapRaw = stripMarkdown(gapRaw);\n    gapAnalysis = JSON.parse(gapRaw);\n  } catch (e) {\n    gapAnalysis = { error: 'Failed to parse gap analysis' };\n  }\n} else {\n  gapAnalysis = gapRaw;\n}\n\nreturn [{\n  json: {\n    corrected_resume: prepareAts.corrected_resume,\n    verified: prepareAts.verified,\n    violations_found: prepareAts.violations_found,\n    jd_length: prepareAts.jd_length,\n    resume_length: prepareAts.resume_length,\n    fetch_blocked: prepareAts.fetch_blocked,\n    block_reason: prepareAts.block_reason,\n    apply_url: prepareAts.apply_url,\n    ats: ats,\n    keyword_count_matched: ats.matched_keywords.length,\n    keyword_count_missing: ats.missing_keywords.length,\n    keyword_count_total: (atsContent.keywords || []).length,\n    cover_letter: coverLetterText,\n    cover_letter_word_count: coverLetterWordCount,\n    recruiter_questions: recruiterQuestions,\n    interview_prep: interviewPrep,\n    star_stories: starStories,\n    plan_30_60_90: plan306090,\n    gap_analysis: gapAnalysis\n  }\n}];"}},

    {"id": "buildHtml", "name": "Build HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4840, 0], "parameters": {"jsCode": "const input = $input.first().json;\nconst r = input.corrected_resume;\n\nif (!r || !r.name) {\n  throw new Error('No corrected_resume found in input');\n}\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Arial', sans-serif; font-size: 11pt; line-height: 1.4; color: #333; padding: 0.5in; max-width: 8.5in; }\n    h1 { font-size: 18pt; color: #1a1a1a; margin-bottom: 2px; }\n    .title { font-size: 12pt; color: #555; margin-bottom: 8px; }\n    .contact { font-size: 9pt; color: #666; margin-bottom: 15px; }\n    h2 { font-size: 12pt; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 15px 0 8px 0; text-transform: uppercase; }\n    .job { margin-bottom: 12px; }\n    .job-header { display: flex; justify-content: space-between; margin-bottom: 3px; }\n    .job-title { font-weight: bold; }\n    ul { margin-left: 18px; margin-top: 3px; }\n    li { margin-bottom: 2px; }\n    .edu { margin-bottom: 8px; }\n    .skills { display: flex; flex-wrap: wrap; gap: 15px; }\n    .skill-group { flex: 1; min-width: 200px; }\n    .skill-label { font-weight: bold; font-size: 10pt; }\n  </style>\n</head>\n<body>\n  <h1>${esc(r.name)}</h1>\n  <div class=\"title\">${esc(r.title)}</div>\n  <div class=\"contact\">\n    ${r.contact?.email || ''} ${r.contact?.phone ? ' | ' + r.contact.phone : ''} ${r.contact?.location ? ' | ' + r.contact.location : ''}\n  </div>\n  ${r.summary ? '<h2>Summary</h2><p>' + esc(r.summary) + '</p>' : ''}\n  ${r.experience?.length ? '<h2>Experience</h2>' + r.experience.map(j => '<div class=\"job\"><div class=\"job-header\"><span class=\"job-title\">' + esc(j.title) + ' | ' + esc(j.company) + '</span><span>' + esc(j.dates) + '</span></div>' + (j.bullets?.length ? '<ul>' + j.bullets.map(b => '<li>' + esc(b) + '</li>').join('') + '</ul>' : '') + '</div>').join('') : ''}\n  ${r.education?.length ? '<h2>Education</h2>' + r.education.map(e => '<div class=\"edu\"><strong>' + esc(e.degree) + '</strong> - ' + esc(e.school) + (e.dates ? ' | ' + esc(e.dates) : '') + '</div>').join('') : ''}\n  ${r.skills ? '<h2>Skills</h2><div class=\"skills\">' + Object.entries(r.skills).filter(([k,v]) => v?.length).map(([k,v]) => '<div class=\"skill-group\"><span class=\"skill-label\">' + k + ':</span> ' + v.join(', ') + '</div>').join('') + '</div>' : ''}\n  ${r.certifications?.length ? '<h2>Certifications</h2><ul>' + r.certifications.map(c => '<li>' + esc(c) + '</li>').join('') + '</ul>' : ''}\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html,\n    resume: r,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  }\n}];"}},

    {"id": "prepareFile", "name": "Prepare PDF File", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5060, 0], "parameters": {"jsCode": "const input = $input.first().json;\nconst html = input.html;\nconst htmlBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: {\n    resume: input.resume,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  },\n  binary: {\n    'index.html': {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"}},

    {"id": "sendToPdf", "name": "Convert to PDF", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5280, 0], "parameters": {"method": "POST", "url": "http://gotenberg:3000/forms/chromium/convert/html", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"parameterType": "formBinaryData", "name": "files", "inputDataFieldName": "index.html"}]}, "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "pdf"}}}}},

    {"id": "writePdf", "name": "Write PDF", "type": "n8n-nodes-base.writeBinaryFile", "typeVersion": 1, "position": [5500, 0], "parameters": {"fileName": "=/data/output/improved_resume.pdf", "dataPropertyName": "pdf", "options": {}}},

    {"id": "summary", "name": "Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5720, 0], "parameters": {"jsCode": "const prepareFile = $('Prepare PDF File').item.json;\nconst resume = prepareFile.resume;\nconst mergeJdData = $('Merge JD Data').item.json;\nconst jdSource = mergeJdData.jd_source;\nconst fetchError = mergeJdData.fetch_error;\nconst fetchBlocked = prepareFile.fetch_blocked;\nconst blockReason = prepareFile.block_reason;\nconst applyUrl = prepareFile.apply_url;\n\nconst response = {\n  success: true,\n  name: resume?.name,\n  title: resume?.title,\n  jd_source: jdSource,\n  verified: prepareFile.verified,\n  violations_corrected: prepareFile.violations_found || 0,\n  output_file: '/data/output/improved_resume.pdf',\n  \n  job_fetch: {\n    blocked: fetchBlocked || false,\n    reason: blockReason,\n    apply_url: applyUrl\n  },\n  \n  ats: prepareFile.ats || {\n    ats_score: null,\n    matched_keywords: [],\n    missing_keywords: [],\n    notes: 'ATS analysis not available'\n  },\n  \n  cover_letter: prepareFile.cover_letter || null,\n  cover_letter_word_count: prepareFile.cover_letter_word_count || 0,\n  \n  recruiter_questions: prepareFile.recruiter_questions || null,\n  \n  interview_prep: prepareFile.interview_prep || null,\n  \n  star_stories: prepareFile.star_stories || null,\n  \n  plan_30_60_90: prepareFile.plan_30_60_90 || null,\n  \n  gap_analysis: prepareFile.gap_analysis || null,\n  \n  jd_length: prepareFile.jd_length || 0,\n  resume_length: prepareFile.resume_length || 0,\n  keyword_count_matched: prepareFile.keyword_count_matched || 0,\n  keyword_count_missing: prepareFile.keyword_count_missing || 0,\n  keyword_count_total: prepareFile.keyword_count_total || 0,\n  \n  next_step: fetchBlocked \n    ? `LinkedIn blocked access (${blockReason}). ${applyUrl ? 'Apply URL: ' + applyUrl + '. ' : ''}Please paste the job description text manually using jd_text parameter.`\n    : null,\n  \n  message: prepareFile.ats?.ats_score !== null \n    ? `Resume enhanced. ATS Score: ${prepareFile.ats.ats_score}%. ${prepareFile.keyword_count_matched} keywords matched, ${prepareFile.keyword_count_missing} missing.`\n    : fetchBlocked\n      ? `Resume enhanced (generic - no JD). LinkedIn blocked: ${blockReason}. Re-run with jd_text for ATS optimization.`\n      : fetchError \n        ? `Resume enhanced. ATS unavailable: ${fetchError}.`\n        : 'Resume enhanced. ATS analysis unavailable (JD too short or missing).'\n};\n\nreturn [{ json: response }];"}}
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "User Input", "type": "main", "index": 0}]]},
    "User Input": {"main": [[{"node": "Check JD Source", "type": "main", "index": 0}]]},
    "Check JD Source": {"main": [[{"node": "Is LinkedIn?", "type": "main", "index": 0}], [{"node": "Use Manual JD", "type": "main", "index": 0}]]},
    "Is LinkedIn?": {"main": [[{"node": "Fetch via Job-Fetcher", "type": "main", "index": 0}], [{"node": "Fetch via Jina Reader", "type": "main", "index": 0}]]},
    "Fetch via Job-Fetcher": {"main": [[{"node": "Process Job-Fetcher Response", "type": "main", "index": 0}]]},
    "Process Job-Fetcher Response": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Fetch via Jina Reader": {"main": [[{"node": "Process Jina Response", "type": "main", "index": 0}]]},
    "Process Jina Response": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Use Manual JD": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Read Resume": {"main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]},
    "Extract PDF Text": {"main": [[{"node": "Merge JD Data", "type": "main", "index": 0}]]},
    "Merge JD Data": {"main": [[{"node": "Parse Resume", "type": "main", "index": 0}]]},
    "Parse Resume": {"main": [[{"node": "Enhance Resume", "type": "main", "index": 0}]]},
    "Enhance Resume": {"main": [[{"node": "Verify Resume", "type": "main", "index": 0}]]},
    "Verify Resume": {"main": [[{"node": "Verify LLM", "type": "main", "index": 0}]]},
    "Verify LLM": {"main": [[{"node": "Prepare ATS Input", "type": "main", "index": 0}]]},
    "Prepare ATS Input": {"main": [[{"node": "ATS Analyzer", "type": "main", "index": 0}]]},
    "ATS Analyzer": {"main": [[{"node": "Generate Cover Letter", "type": "main", "index": 0}]]},
    "Generate Cover Letter": {"main": [[{"node": "Generate Recruiter Questions", "type": "main", "index": 0}]]},
    "Generate Recruiter Questions": {"main": [[{"node": "Generate Interview Prep", "type": "main", "index": 0}]]},
    "Generate Interview Prep": {"main": [[{"node": "Generate STAR Stories", "type": "main", "index": 0}]]},
    "Generate STAR Stories": {"main": [[{"node": "Generate 30-60-90 Plan", "type": "main", "index": 0}]]},
    "Generate 30-60-90 Plan": {"main": [[{"node": "Generate Gap Analysis", "type": "main", "index": 0}]]},
    "Generate Gap Analysis": {"main": [[{"node": "Merge ATS Data", "type": "main", "index": 0}]]},
    "Merge ATS Data": {"main": [[{"node": "Build HTML", "type": "main", "index": 0}]]},
    "Build HTML": {"main": [[{"node": "Prepare PDF File", "type": "main", "index": 0}]]},
    "Prepare PDF File": {"main": [[{"node": "Convert to PDF", "type": "main", "index": 0}]]},
    "Convert to PDF": {"main": [[{"node": "Write PDF", "type": "main", "index": 0}]]},
    "Write PDF": {"main": [[{"node": "Summary", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
