workflow/minimal_workflow_test.json
{
  "name": "Resume Enhancer Minimal",
  "nodes": [
    {"id": "trigger", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0], "parameters": {}},
    {"id": "input", "name": "User Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [220, 0], "parameters": {"mode": "raw", "jsonOutput": "={\n  \"resume_path\": \"/data/input/master_resume.pdf\",\n  \"jd_text\": \"IT Support Specialist at SEON - Austin, TX (Hybrid)\\n\\nResponsibilities:\\n- Provide Tier 1/2 technical support to Austin employees and remote colleagues\\n- Troubleshoot issues across laptops, mobile devices, SaaS applications, and office hardware\\n- Maintain meeting rooms, conferencing equipment, and shared IT spaces\\n- Prepare and configure devices for new hires\\n- Set up accounts and access in SaaS systems\\n- Enroll and manage devices using JumpCloud MDM\\n- Apply security best practices and compliance standards\\n- Maintain accurate IT asset inventory and lifecycle tracking\\n- Work with Budapest HQ team and global IT peers\\n- Use AI tools (Gemini, ChatGPT) for documentation and process automation\\n- Support Google Workspace, Microsoft 365, Slack, and Zoom management\\n\\nRequirements:\\n- 2-4 years IT support or IT operations experience\\n- Strong troubleshooting across devices and office IT equipment\\n- MDM experience: JumpCloud preferred (or Intune/Jamf equivalent)\\n- Productivity platforms: Google Workspace and/or Microsoft 365\\n- Collaboration tools: Slack, Zoom, and similar SaaS applications\\n- Basic identity/access management in SaaS ecosystems\\n- Asset management and inventory maintenance experience\\n- Clear communication and service-oriented mindset\\n\\nDesired Skills:\\n- Scripting basics (PowerShell, Bash, Python)\\n- Meeting room and A/V equipment configuration experience\\n- AI-driven support tool exposure\\n- Distributed or multinational organization experience\",\n  \"language\": \"en\",\n  \"tone\": \"professional\",\n  \"pages\": 1\n}", "options": {}}},
    {"id": "readResume", "name": "Read Resume", "type": "n8n-nodes-base.readBinaryFiles", "typeVersion": 1, "position": [440, 0], "parameters": {"fileSelector": "={{ $json.resume_path }}"}},
    {"id": "extractText", "name": "Extract PDF Text", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1, "position": [660, 0], "parameters": {"operation": "pdf", "binaryPropertyName": "data", "options": {}}},
    {"id": "parseResume", "name": "Parse Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [880, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "messages": {"values": [{"content": "=You are an expert resume parser. Extract structured data from this resume text.\n\nResume text:\n{{ $json.text }}\n\nReturn JSON with these fields:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Current/Target Job Title\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Professional summary\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},
    {"id": "enhance", "name": "Enhance Resume", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1100, 0], "parameters": {"resource": "text", "operation": "message", "modelId": {"__rl": true, "mode": "list", "value": "gpt-4o"}, "messages": {"values": [{"content": "=You are an expert resume writer specializing in ATS optimization.\n\nOriginal Resume Data:\n{{ JSON.stringify($json.message.content) }}\n\nJob Description:\n{{ $('User Input').item.json.jd_text }}\n\nLanguage: {{ $('User Input').item.json.language }}\nTone: {{ $('User Input').item.json.tone }}\nMax Pages: {{ $('User Input').item.json.pages }}\n\nCreate an enhanced, ATS-optimized version of this resume tailored for the job.\n\nRules:\n1. NEVER invent information - only use facts from the original resume\n2. Incorporate relevant keywords from the job description naturally\n3. Use strong action verbs and quantify achievements where data exists\n4. Keep the same structure but improve wording\n\nReturn JSON:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Optimized title matching job\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Enhanced professional summary with keywords\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [\"Enhanced bullet points\"] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"}]}, "options": {"responseFormat": "json_object"}, "simplify": true}, "credentials": {"openAiApi": {"id": "vcJ5TpL46HLa4xpq", "name": "OpenAi account"}}},
    {"id": "buildHtml", "name": "Build HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 0], "parameters": {"jsCode": "const msg = $input.first().json.message;\nlet r;\nif (msg && msg.content) {\n  r = typeof msg.content === 'string' ? JSON.parse(msg.content) : msg.content;\n} else {\n  r = $input.first().json;\n}\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Arial', sans-serif; font-size: 11pt; line-height: 1.4; color: #333; padding: 0.5in; max-width: 8.5in; }\n    h1 { font-size: 18pt; color: #1a1a1a; margin-bottom: 2px; }\n    .title { font-size: 12pt; color: #555; margin-bottom: 8px; }\n    .contact { font-size: 9pt; color: #666; margin-bottom: 15px; }\n    h2 { font-size: 12pt; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 15px 0 8px 0; text-transform: uppercase; }\n    .job { margin-bottom: 12px; }\n    .job-header { display: flex; justify-content: space-between; margin-bottom: 3px; }\n    .job-title { font-weight: bold; }\n    ul { margin-left: 18px; margin-top: 3px; }\n    li { margin-bottom: 2px; }\n    .edu { margin-bottom: 8px; }\n    .skills { display: flex; flex-wrap: wrap; gap: 15px; }\n    .skill-group { flex: 1; min-width: 200px; }\n    .skill-label { font-weight: bold; font-size: 10pt; }\n  </style>\n</head>\n<body>\n  <h1>${esc(r.name)}</h1>\n  <div class=\"title\">${esc(r.title)}</div>\n  <div class=\"contact\">\n    ${r.contact?.email || ''} ${r.contact?.phone ? ' | ' + r.contact.phone : ''} ${r.contact?.location ? ' | ' + r.contact.location : ''}\n  </div>\n  ${r.summary ? '<h2>Summary</h2><p>' + esc(r.summary) + '</p>' : ''}\n  ${r.experience?.length ? '<h2>Experience</h2>' + r.experience.map(j => '<div class=\"job\"><div class=\"job-header\"><span class=\"job-title\">' + esc(j.title) + ' | ' + esc(j.company) + '</span><span>' + esc(j.dates) + '</span></div>' + (j.bullets?.length ? '<ul>' + j.bullets.map(b => '<li>' + esc(b) + '</li>').join('') + '</ul>' : '') + '</div>').join('') : ''}\n  ${r.education?.length ? '<h2>Education</h2>' + r.education.map(e => '<div class=\"edu\"><strong>' + esc(e.degree) + '</strong> - ' + esc(e.school) + (e.dates ? ' | ' + esc(e.dates) : '') + '</div>').join('') : ''}\n  ${r.skills ? '<h2>Skills</h2><div class=\"skills\">' + Object.entries(r.skills).filter(([k,v]) => v?.length).map(([k,v]) => '<div class=\"skill-group\"><span class=\"skill-label\">' + k + ':</span> ' + v.join(', ') + '</div>').join('') + '</div>' : ''}\n  ${r.certifications?.length ? '<h2>Certifications</h2><ul>' + r.certifications.map(c => '<li>' + esc(c) + '</li>').join('') + '</ul>' : ''}\n</body>\n</html>`;\n\nreturn [{ json: { html, resume: r } }];"}},
    {"id": "prepareFile", "name": "Prepare PDF File", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 0], "parameters": {"jsCode": "const html = $input.first().json.html;\nconst htmlBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { resume: $input.first().json.resume },\n  binary: {\n    'index.html': {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"}},
    {"id": "sendToPdf", "name": "Convert to PDF", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, 0], "parameters": {"method": "POST", "url": "http://gotenberg:3000/forms/chromium/convert/html", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"parameterType": "formBinaryData", "name": "files", "inputDataFieldName": "index.html"}]}, "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "pdf"}}}}},
    {"id": "writePdf", "name": "Write PDF", "type": "n8n-nodes-base.writeBinaryFile", "typeVersion": 1, "position": [1980, 0], "parameters": {"fileName": "=/data/output/improved_resume.pdf", "dataPropertyName": "pdf", "options": {}}},
    {"id": "summary", "name": "Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2200, 0], "parameters": {"jsCode": "const resume = $('Prepare PDF File').item.json.resume;\nreturn [{ json: { success: true, name: resume?.name, title: resume?.title, output_file: '/data/output/improved_resume.pdf', message: 'Resume enhanced and saved!' } }];"}}
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "User Input", "type": "main", "index": 0}]]},
    "User Input": {"main": [[{"node": "Read Resume", "type": "main", "index": 0}]]},
    "Read Resume": {"main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]},
    "Extract PDF Text": {"main": [[{"node": "Parse Resume", "type": "main", "index": 0}]]},
    "Parse Resume": {"main": [[{"node": "Enhance Resume", "type": "main", "index": 0}]]},
    "Enhance Resume": {"main": [[{"node": "Build HTML", "type": "main", "index": 0}]]},
    "Build HTML": {"main": [[{"node": "Prepare PDF File", "type": "main", "index": 0}]]},
    "Prepare PDF File": {"main": [[{"node": "Convert to PDF", "type": "main", "index": 0}]]},
    "Convert to PDF": {"main": [[{"node": "Write PDF", "type": "main", "index": 0}]]},
    "Write PDF": {"main": [[{"node": "Summary", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
