workflow/workflow.json
{
  "name": "Resume Enhancer v3 + ATS + Job Fetcher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-enhance-v3",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -16
      ],
      "webhookId": "7428fc1b-ece1-4a12-aa0b-49533056004d"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"resume_path\": \"{{ ($json.body && $json.body.resume_path) ? $json.body.resume_path : ($json.resume_path || '/data/input/master_resume.pdf') }}\",\n  \"job_url\": \"{{ ($json.body && $json.body.job_url) ? $json.body.job_url : ($json.job_url || '') }}\",\n  \"jd_text\": {{ JSON.stringify(($json.body && $json.body.jd_text) ? $json.body.jd_text : ($json.jd_text || '')) }},\n  \"language\": \"{{ ($json.body && $json.body.language) ? $json.body.language : ($json.language || 'en') }}\",\n  \"tone\": \"{{ ($json.body && $json.body.tone) ? $json.body.tone : ($json.tone || 'professional') }}\",\n  \"pages\": {{ ($json.body && $json.body.pages) ? $json.body.pages : ($json.pages || 1) }}\n}",
        "options": {}
      },
      "id": "input",
      "name": "User Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.job_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "checkJdSource",
      "name": "Check JD Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.job_url.toLowerCase() }}",
              "rightValue": "linkedin.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "checkLinkedIn",
      "name": "Is LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://job-fetcher:3000/fetch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.job_url }}\",\n  \"options\": { \"timeoutMs\": 45000 }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetchJobFetcher",
      "name": "Fetch via Job-Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'job-fetcher';\nlet fetchError = null;\nlet fetchBlocked = false;\nlet blockReason = null;\nlet applyUrl = null;\nlet jobTitle = null;\nlet jobCompany = null;\nlet jobLocation = null;\n\nif (fetchResult.ok && !fetchResult.blocked) {\n  jdText = fetchResult.descriptionText || '';\n  applyUrl = fetchResult.applyUrl || null;\n  jobTitle = fetchResult.title || null;\n  jobCompany = fetchResult.company || null;\n  jobLocation = fetchResult.location || null;\n} else if (fetchResult.blocked) {\n  fetchError = `LinkedIn blocked: ${fetchResult.reason || 'unknown'}`;\n  fetchBlocked = true;\n  blockReason = fetchResult.reason;\n  applyUrl = fetchResult.applyUrl || null;\n  jdSource = 'blocked';\n} else {\n  fetchError = fetchResult.error || fetchResult.message || 'Unknown error';\n  jdSource = 'fetch_failed';\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl,\n    job_title: jobTitle,\n    job_company: jobCompany,\n    job_location: jobLocation\n  }\n}];"
      },
      "id": "processJobFetcher",
      "name": "Process Job-Fetcher Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ encodeURIComponent($json.job_url) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetchJinaReader",
      "name": "Fetch via Jina Reader",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'jina';\nlet fetchError = null;\n\nif (fetchResult.error || fetchResult.code === 'ECONNABORTED') {\n  fetchError = fetchResult.error?.message || fetchResult.message || 'Request timed out or blocked';\n  jdText = '';\n  jdSource = 'fetch_failed';\n} else {\n  const fetchedText = fetchResult.data || fetchResult.body || '';\n  jdText = String(fetchedText).trim();\n  \n  if (jdText.length < 100) {\n    jdText = '';\n    jdSource = 'fetch_failed';\n    fetchError = 'Response too short or empty';\n  }\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"
      },
      "id": "processJinaResponse",
      "name": "Process Jina Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('User Input').item.json;\nreturn [{\n  json: {\n    ...input,\n    jd_source: 'manual',\n    fetch_error: null,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"
      },
      "id": "useManualJd",
      "name": "Use Manual JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        176
      ]
    },
    {
      "parameters": {
        "fileSelector": "/data/input/master_resume.pdf"
      },
      "id": "readResume",
      "name": "Read Resume",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        1344,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extractText",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1568,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst resumeText = item.json.text || '';\n\nlet jdData = null;\nconst processNodes = ['Process Job-Fetcher Response', 'Process Jina Response', 'Use Manual JD'];\nfor (const nodeName of processNodes) {\n  try {\n    const nodeData = $(nodeName).first().json;\n    if (nodeData && nodeData.jd_source !== undefined) {\n      jdData = nodeData;\n      break;\n    }\n  } catch (e) {\n  }\n}\n\nif (!jdData) {\n  jdData = { jd_text: '', jd_source: 'unknown' };\n}\n\nreturn [{\n  json: {\n    text: resumeText,\n    jd_text: jdData.jd_text || '',\n    jd_source: jdData.jd_source || 'unknown',\n    fetch_error: jdData.fetch_error || null,\n    fetch_blocked: jdData.fetch_blocked || false,\n    block_reason: jdData.block_reason || null,\n    apply_url: jdData.apply_url || null,\n    job_title: jdData.job_title || null,\n    job_company: jdData.job_company || null,\n    job_location: jdData.job_location || null\n  }\n}];"
      },
      "id": "mergeJdData",
      "name": "Merge JD Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert resume parser. Extract structured data from this resume text.\n\nResume text:\n{{ $json.text }}\n\nReturn JSON with these fields:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Current/Target Job Title\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Professional summary\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "parseResume",
      "name": "Parse Resume",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2016,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=STEP 1: Determine candidate level based on years of experience, job titles, and responsibility complexity:\n- JUNIOR (0-2 years): Entry-level tasks, learning, assisting\n- MID (2-5 years): Independent work, some ownership\n- SENIOR (5+ years): Leadership, architecture, mentoring\n\nSTEP 2: Enhance resume ONLY within the candidate's level.\n\nABSOLUTE RULES - VIOLATION = FAILURE:\n1. NEVER add numbers, percentages, or metrics NOT in original\n2. NEVER add team sizes, revenue, or user counts NOT in original\n3. NEVER add technologies NOT mentioned in original\n4. NEVER claim achievements above candidate's level:\n   - Junior cannot \"led team\" or \"architected system\"\n   - Mid cannot \"saved company $5M\" or \"managed department\"\n5. NEVER add outcomes that weren't stated\n\nALLOWED:\n- Replace weak verbs with action verbs appropriate to level\n- Add JD keywords IF the underlying skill exists in original\n- Rephrase for clarity and impact\n- Highlight relevant existing experience\n\nEXAMPLES:\nJUNIOR Original: \"Helped with code reviews\"\n OK: \"Participated in code review process\"\n WRONG: \"Conducted 50+ code reviews, reducing bugs by 30%\"\n\nMID Original: \"Worked on backend features\"\n OK: \"Developed backend features\"\n WRONG: \"Architected scalable microservices handling 1M requests\"\n\nSENIOR Original: \"Led development team\"\n OK: \"Directed software development initiatives\"\n WRONG: \"Led team of 25 engineers\" (if number not in original)\n\n---\nOriginal Resume:\n{{ JSON.stringify($json.message?.content || $json) }}\n\nJob Description (for keywords only):\n{{ $('Merge JD Data').item.json.jd_text.substring(0, 4000) }}\n\nReturn ONLY this JSON:\n{\"detected_level\":\"junior|mid|senior\",\"enhanced_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "enhance",
      "name": "Enhance Resume",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2368,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet enhancedData;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet content = input.message?.content || input.content || input;\nif (typeof content === 'string') {\n  try {\n    content = stripMarkdown(content);\n    enhancedData = JSON.parse(content);\n  } catch (e) {\n    throw new Error('Failed to parse Enhance Resume output: ' + content.substring(0, 200));\n  }\n} else {\n  enhancedData = content;\n}\n\nconst detectedLevel = enhancedData.detected_level || 'mid';\nconst enhancedResume = enhancedData.enhanced_resume || enhancedData;\n\nlet originalContent = $('Parse Resume').item.json.message?.content;\nlet originalResume;\nif (typeof originalContent === 'string') {\n  try {\n    originalContent = stripMarkdown(originalContent);\n    originalResume = JSON.parse(originalContent);\n  } catch (e) {\n    originalResume = { raw: originalContent };\n  }\n} else {\n  originalResume = originalContent;\n}\n\nreturn [{\n  json: {\n    detected_level: detectedLevel,\n    enhanced_resume: enhancedResume,\n    original_resume: originalResume\n  }\n}];"
      },
      "id": "verify",
      "name": "Verify Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON-only fact-checker. You MUST respond with ONLY valid JSON.\n\nORIGINAL RESUME:\n{{ JSON.stringify($json.original_resume) }}\n\nENHANCED RESUME:\n{{ JSON.stringify($json.enhanced_resume) }}\n\nDETECTED LEVEL: {{ $json.detected_level }}\n\nCheck each bullet point for fabrications:\n1. Added numbers/metrics NOT in original = violation\n2. Added technologies NOT in original = violation\n3. Claims above candidate level = violation\n\nFor violations: revert to truthful version using ONLY original facts.\n\nReturn ONLY this JSON:\n{\"verified\":true,\"violations_found\":0,\"corrected_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}\n\nIf no violations, copy enhanced_resume into corrected_resume unchanged."
            }
          ]
        },
        "options": {}
      },
      "id": "verifyLlm",
      "name": "Verify LLM",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2944,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet verifyContent = input.message?.content || input;\nif (typeof verifyContent === 'string') {\n  try {\n    verifyContent = stripMarkdown(verifyContent);\n    verifyContent = JSON.parse(verifyContent);\n  } catch (e) {\n    throw new Error('Failed to parse Verify LLM response: ' + String(verifyContent).substring(0, 200));\n  }\n}\n\nconst correctedResume = verifyContent.corrected_resume || verifyContent;\nconst verified = verifyContent.verified;\nconst violationsFound = verifyContent.violations_found || 0;\n\nconst mergeData = $('Merge JD Data').item.json;\nconst jdText = mergeData.jd_text || '';\nconst jdLength = jdText.length;\nconst fetchBlocked = mergeData.fetch_blocked || false;\nconst blockReason = mergeData.block_reason || null;\nconst applyUrl = mergeData.apply_url || null;\n\nlet resumeText = '';\nif (correctedResume.summary) resumeText += correctedResume.summary + ' ';\nif (correctedResume.experience) {\n  correctedResume.experience.forEach(exp => {\n    if (exp.bullets) resumeText += exp.bullets.join(' ') + ' ';\n  });\n}\nif (correctedResume.skills) {\n  Object.values(correctedResume.skills).forEach(arr => {\n    if (Array.isArray(arr)) resumeText += arr.join(' ') + ' ';\n  });\n}\nconst resumeLength = resumeText.length;\n\nreturn [{\n  json: {\n    corrected_resume: correctedResume,\n    verified: verified,\n    violations_found: violationsFound,\n    jd_text: jdText,\n    jd_length: jdLength,\n    resume_length: resumeLength,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl\n  }\n}];"
      },
      "id": "prepareAts",
      "name": "Prepare ATS Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an ATS (Applicant Tracking System) keyword analyzer. You MUST respond with ONLY valid JSON.\n\nJOB DESCRIPTION:\n{{ $json.jd_text.substring(0, 6000) }}\n\nRESUME:\n{{ JSON.stringify($json.corrected_resume) }}\n\nTASK:\n1. Extract 20-60 important keywords from the Job Description\n2. Check which keywords appear in the resume\n3. Calculate ATS score: round(matched / total * 100)\n\nReturn ONLY this JSON:\n{\n  \"keywords\": [\"keyword1\", \"keyword2\"],\n  \"matched_keywords\": [\"keyword1\"],\n  \"missing_keywords\": [\"keyword2\"],\n  \"ats_score\": 75,\n  \"notes\": \"Brief recommendation\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "atsAnalyzer",
      "name": "ATS Analyzer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3520,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert cover letter writer. Create a professional cover letter.\n\nCANDIDATE INFO:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nSummary: {{ $('Prepare ATS Input').item.json.corrected_resume.summary }}\n\nKEY EXPERIENCE:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\n\nSKILLS:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"cover_letter\": \"Full cover letter text\",\n  \"word_count\": 250\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateCoverLetter",
      "name": "Generate Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3872,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate thoughtful questions for the candidate to ask recruiters.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"questions\": [{\"category\": \"About the Role\", \"items\": [{\"question\": \"...\", \"why_ask\": \"...\", \"listen_for\": \"...\"}]}],\n  \"questions_to_avoid\": [\"...\"],\n  \"total_count\": 10\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateRecruiterQuestions",
      "name": "Generate Recruiter Questions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4224,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Create interview preparation guide.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nReturn ONLY this JSON:\n{\n  \"interview_questions\": [{\"type\": \"behavioral\", \"question\": \"...\", \"key_points\": [], \"example_answer\": \"...\"}],\n  \"achievements_to_highlight\": [{\"achievement\": \"...\", \"context\": \"...\", \"how_to_present\": \"...\"}],\n  \"gaps_to_address\": [{\"gap\": \"...\", \"mitigation\": \"...\"}],\n  \"pre_interview_checklist\": [],\n  \"salary_tips\": \"...\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateInterviewPrep",
      "name": "Generate Interview Prep",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4576,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Create STAR-formatted stories from experience.\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"star_stories\": [{\"competency\": \"...\", \"best_for_questions\": [], \"situation\": \"...\", \"task\": \"...\", \"action\": \"...\", \"result\": \"...\", \"quick_version\": \"...\"}],\n  \"story_count\": 5\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateStarStories",
      "name": "Generate STAR Stories",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4928,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Create 30-60-90 day plan.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"plan\": {\n    \"days_1_30\": {\"title\": \"Learn\", \"goals\": [], \"actions\": [], \"success_metrics\": []},\n    \"days_31_60\": {\"title\": \"Contribute\", \"goals\": [], \"actions\": [], \"success_metrics\": []},\n    \"days_61_90\": {\"title\": \"Lead\", \"goals\": [], \"actions\": [], \"success_metrics\": []}\n  },\n  \"questions_for_manager\": []\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate306090Plan",
      "name": "Generate 30-60-90 Plan",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5632,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze skill gaps.\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 4000) }}\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nReturn ONLY this JSON:\n{\n  \"executive_summary\": {\"overall_fit\": \"Strong|Moderate|Stretch\", \"critical_gaps_count\": 0, \"moderate_gaps_count\": 0, \"fit_score\": 75},\n  \"critical_gaps\": [{\"skill\": \"...\", \"required_level\": \"...\", \"current_state\": \"...\", \"impact\": \"...\", \"mitigation\": {}}],\n  \"moderate_gaps\": [{\"skill\": \"...\", \"gap_description\": \"...\", \"mitigation\": \"...\"}],\n  \"transferable_skills\": [{\"your_skill\": \"...\", \"covers_gap\": \"...\", \"how_to_position\": \"...\"}],\n  \"development_roadmap\": {\"quick_wins\": [], \"medium_term\": [], \"long_term\": []}\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateGapAnalysis",
      "name": "Generate Gap Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5984,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareAts = $('Prepare ATS Input').item.json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nconst parseNodeOutput = (nodeName) => {\n  try {\n    let raw = $(nodeName).item.json.message?.content || $(nodeName).item.json;\n    if (typeof raw === 'string') {\n      raw = stripMarkdown(raw);\n      return JSON.parse(raw);\n    }\n    return raw;\n  } catch (e) {\n    return { error: `Failed to parse ${nodeName}` };\n  }\n};\n\nlet atsContent = parseNodeOutput('ATS Analyzer');\nif (prepareAts.jd_length < 200) {\n  atsContent = {\n    keywords: [],\n    matched_keywords: [],\n    missing_keywords: [],\n    ats_score: null,\n    notes: 'JD too short for ATS analysis.'\n  };\n}\n\nconst ats = {\n  ats_score: atsContent.ats_score,\n  matched_keywords: atsContent.matched_keywords || [],\n  missing_keywords: atsContent.missing_keywords || [],\n  notes: atsContent.notes || ''\n};\n\nconst coverLetterData = parseNodeOutput('Generate Cover Letter');\nconst recruiterQuestions = parseNodeOutput('Generate Recruiter Questions');\nconst interviewPrep = parseNodeOutput('Generate Interview Prep');\nconst starStories = parseNodeOutput('Generate STAR Stories');\nconst whyCompany = parseNodeOutput('Generate Why Company');\nconst plan306090 = parseNodeOutput('Generate 30-60-90 Plan');\n\nlet gapRaw = $input.first().json.message?.content || $input.first().json;\nlet gapAnalysis = null;\nif (typeof gapRaw === 'string') {\n  try {\n    gapRaw = stripMarkdown(gapRaw);\n    gapAnalysis = JSON.parse(gapRaw);\n  } catch (e) {\n    gapAnalysis = { error: 'Failed to parse gap analysis' };\n  }\n} else {\n  gapAnalysis = gapRaw;\n}\n\nreturn [{\n  json: {\n    corrected_resume: prepareAts.corrected_resume,\n    verified: prepareAts.verified,\n    violations_found: prepareAts.violations_found,\n    jd_length: prepareAts.jd_length,\n    resume_length: prepareAts.resume_length,\n    fetch_blocked: prepareAts.fetch_blocked,\n    block_reason: prepareAts.block_reason,\n    apply_url: prepareAts.apply_url,\n    ats: ats,\n    keyword_count_matched: ats.matched_keywords.length,\n    keyword_count_missing: ats.missing_keywords.length,\n    keyword_count_total: (atsContent.keywords || []).length,\n    cover_letter: coverLetterData.cover_letter || '',\n    cover_letter_word_count: coverLetterData.word_count || 0,\n    recruiter_questions: recruiterQuestions,\n    interview_prep: interviewPrep,\n    star_stories: starStories,\n    why_company: whyCompany,\n    plan_30_60_90: plan306090,\n    gap_analysis: gapAnalysis\n  }\n}];"
      },
      "id": "mergeAts",
      "name": "Merge ATS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst r = input.corrected_resume;\n\nif (!r || !r.name) {\n  throw new Error('No corrected_resume found in input');\n}\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Arial', sans-serif; font-size: 11pt; line-height: 1.4; color: #333; padding: 0.5in; max-width: 8.5in; }\n    h1 { font-size: 18pt; color: #1a1a1a; margin-bottom: 2px; }\n    .title { font-size: 12pt; color: #555; margin-bottom: 8px; }\n    .contact { font-size: 9pt; color: #666; margin-bottom: 15px; }\n    h2 { font-size: 12pt; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 15px 0 8px 0; text-transform: uppercase; }\n    .job { margin-bottom: 12px; }\n    .job-header { display: flex; justify-content: space-between; margin-bottom: 3px; }\n    .job-title { font-weight: bold; }\n    ul { margin-left: 18px; margin-top: 3px; }\n    li { margin-bottom: 2px; }\n    .edu { margin-bottom: 8px; }\n    .skills { display: flex; flex-wrap: wrap; gap: 15px; }\n    .skill-group { flex: 1; min-width: 200px; }\n    .skill-label { font-weight: bold; font-size: 10pt; }\n  </style>\n</head>\n<body>\n  <h1>${esc(r.name)}</h1>\n  <div class=\"title\">${esc(r.title)}</div>\n  <div class=\"contact\">\n    ${r.contact?.email || ''} ${r.contact?.phone ? ' | ' + r.contact.phone : ''} ${r.contact?.location ? ' | ' + r.contact.location : ''}\n  </div>\n  ${r.summary ? '<h2>Summary</h2><p>' + esc(r.summary) + '</p>' : ''}\n  ${r.experience?.length ? '<h2>Experience</h2>' + r.experience.map(j => '<div class=\"job\"><div class=\"job-header\"><span class=\"job-title\">' + esc(j.title) + ' | ' + esc(j.company) + '</span><span>' + esc(j.dates) + '</span></div>' + (j.bullets?.length ? '<ul>' + j.bullets.map(b => '<li>' + esc(b) + '</li>').join('') + '</ul>' : '') + '</div>').join('') : ''}\n  ${r.education?.length ? '<h2>Education</h2>' + r.education.map(e => '<div class=\"edu\"><strong>' + esc(e.degree) + '</strong> - ' + esc(e.school) + (e.dates ? ' | ' + esc(e.dates) : '') + '</div>').join('') : ''}\n  ${r.skills ? '<h2>Skills</h2><div class=\"skills\">' + Object.entries(r.skills).filter(([k,v]) => v?.length).map(([k,v]) => '<div class=\"skill-group\"><span class=\"skill-label\">' + k + ':</span> ' + v.join(', ') + '</div>').join('') + '</div>' : ''}\n  ${r.certifications?.length ? '<h2>Certifications</h2><ul>' + r.certifications.map(c => '<li>' + esc(c) + '</li>').join('') + '</ul>' : ''}\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html,\n    resume: r,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    why_company: input.why_company,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  }\n}];"
      },
      "id": "buildHtml",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst html = input.html;\nconst htmlBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: {\n    resume: input.resume,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    why_company: input.why_company,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  },\n  binary: {\n    'index.html': {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "prepareFile",
      "name": "Prepare PDF File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "id": "sendToPdf",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7008,
        -16
      ]
    },
    {
      "parameters": {
        "fileName": "=/data/output/improved_resume.pdf",
        "dataPropertyName": "pdf",
        "options": {}
      },
      "id": "writePdf",
      "name": "Write PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        7232,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepareFile = $('Prepare PDF File').item.json;\nconst resume = prepareFile.resume;\nconst mergeJdData = $('Merge JD Data').item.json;\nconst jdSource = mergeJdData.jd_source;\nconst fetchBlocked = prepareFile.fetch_blocked;\nconst blockReason = prepareFile.block_reason;\nconst applyUrl = prepareFile.apply_url;\n\nconst response = {\n  success: true,\n  name: resume?.name,\n  title: resume?.title,\n  jd_source: jdSource,\n  verified: prepareFile.verified,\n  violations_corrected: prepareFile.violations_found || 0,\n  output_files: {\n    resume: '/data/output/improved_resume.pdf',\n    cover_letter: '/data/output/cover_letter.md',\n    why_company: '/data/output/why_company.md'\n  },\n  job_fetch: {\n    blocked: fetchBlocked || false,\n    reason: blockReason,\n    apply_url: applyUrl\n  },\n  ats: prepareFile.ats || { ats_score: null },\n  why_company: prepareFile.why_company || null,\n  cover_letter: prepareFile.cover_letter || null,\n  cover_letter_word_count: prepareFile.cover_letter_word_count || 0,\n  recruiter_questions: prepareFile.recruiter_questions || null,\n  interview_prep: prepareFile.interview_prep || null,\n  star_stories: prepareFile.star_stories || null,\n  plan_30_60_90: prepareFile.plan_30_60_90 || null,\n  gap_analysis: prepareFile.gap_analysis || null,\n  message: prepareFile.ats?.ats_score !== null ? `Resume enhanced. ATS Score: ${prepareFile.ats.ats_score}%.` : 'Resume enhanced.'\n};\n\nreturn [{ json: response }];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        -16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a career coach helping a candidate answer \"Why do you want to work at [Company]?\" for a job application.\n\nCOMPANY: {{ $('Merge JD Data').item.json.job_company || 'this company' }}\nROLE: {{ $('Merge JD Data').item.json.job_title || 'this role' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE BACKGROUND:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nExperience: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\nSkills: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nTASK:\nWrite a compelling, authentic \"Why [Company]?\" response (150-250 words) that:\n1. Shows genuine interest in the company's mission/product\n2. Connects specific aspects of the role to the candidate's experience\n3. Mentions company culture/values if evident from the JD\n4. Avoids generic flattery - be specific and authentic\n5. Ends with forward-looking enthusiasm\n\nCRITICAL: Only reference skills/experience actually in the resume.\n\nReturn ONLY this JSON:\n{\n  \"why_company\": \"The full response text\",\n  \"key_points\": [\"Point 1\", \"Point 2\", \"Point 3\"],\n  \"word_count\": 200\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "generateWhyCompany",
      "name": "Generate Why Company",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5280,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "hOAw1sDSztQJe5O9",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "User Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Input": {
      "main": [
        [
          {
            "node": "Check JD Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JD Source": {
      "main": [
        [
          {
            "node": "Is LinkedIn?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Manual JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is LinkedIn?": {
      "main": [
        [
          {
            "node": "Fetch via Job-Fetcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch via Jina Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch via Job-Fetcher": {
      "main": [
        [
          {
            "node": "Process Job-Fetcher Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Job-Fetcher Response": {
      "main": [
        [
          {
            "node": "Read Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch via Jina Reader": {
      "main": [
        [
          {
            "node": "Process Jina Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Jina Response": {
      "main": [
        [
          {
            "node": "Read Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Manual JD": {
      "main": [
        [
          {
            "node": "Read Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Resume": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Merge JD Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JD Data": {
      "main": [
        [
          {
            "node": "Parse Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "Enhance Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Resume": {
      "main": [
        [
          {
            "node": "Verify Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Resume": {
      "main": [
        [
          {
            "node": "Verify LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify LLM": {
      "main": [
        [
          {
            "node": "Prepare ATS Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ATS Input": {
      "main": [
        [
          {
            "node": "ATS Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATS Analyzer": {
      "main": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Generate Recruiter Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recruiter Questions": {
      "main": [
        [
          {
            "node": "Generate Interview Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Interview Prep": {
      "main": [
        [
          {
            "node": "Generate STAR Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate STAR Stories": {
      "main": [
        [
          {
            "node": "Generate Why Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 30-60-90 Plan": {
      "main": [
        [
          {
            "node": "Generate Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Gap Analysis": {
      "main": [
        [
          {
            "node": "Merge ATS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ATS Data": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Prepare PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF File": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Why Company": {
      "main": [
        [
          {
            "node": "Generate 30-60-90 Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": "cb41ed35-19b1-4c07-aef4-9c1a53328130",
  "versionCounter": 15,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-31T03:53:59.802Z",
      "createdAt": "2026-01-31T03:53:59.802Z",
      "role": "workflow:owner",
      "workflowId": "eFuxZH5SWveqfVCX",
      "projectId": "ac6dy3meKD2DvUVu",
      "project": {
        "updatedAt": "2026-01-31T03:44:32.003Z",
        "createdAt": "2026-01-31T03:42:10.824Z",
        "id": "ac6dy3meKD2DvUVu",
        "name": "Konstantin Glushenkov <glushenkov.k@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "03c57380-7d29-4f48-b613-656c652b9756",
        "projectRelations": [
          {
            "updatedAt": "2026-01-31T03:42:10.824Z",
            "createdAt": "2026-01-31T03:42:10.824Z",
            "userId": "03c57380-7d29-4f48-b613-656c652b9756",
            "projectId": "ac6dy3meKD2DvUVu",
            "user": {
              "updatedAt": "2026-01-31T05:14:40.000Z",
              "createdAt": "2026-01-31T03:42:10.525Z",
              "id": "03c57380-7d29-4f48-b613-656c652b9756",
              "email": "glushenkov.k@gmail.com",
              "firstName": "Konstantin",
              "lastName": "Glushenkov",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-31T03:44:46.168Z",
                "personalization_survey_n8n_version": "2.4.6",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-31T05:26:43.361Z",
    "createdAt": "2026-01-31T05:26:43.361Z",
    "versionId": "cb41ed35-19b1-4c07-aef4-9c1a53328130",
    "workflowId": "eFuxZH5SWveqfVCX",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "resume-enhance-v3",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          -16
        ],
        "webhookId": "7428fc1b-ece1-4a12-aa0b-49533056004d"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"resume_path\": \"{{ ($json.body && $json.body.resume_path) ? $json.body.resume_path : ($json.resume_path || '/data/input/master_resume.pdf') }}\",\n  \"job_url\": \"{{ ($json.body && $json.body.job_url) ? $json.body.job_url : ($json.job_url || '') }}\",\n  \"jd_text\": {{ JSON.stringify(($json.body && $json.body.jd_text) ? $json.body.jd_text : ($json.jd_text || '')) }},\n  \"language\": \"{{ ($json.body && $json.body.language) ? $json.body.language : ($json.language || 'en') }}\",\n  \"tone\": \"{{ ($json.body && $json.body.tone) ? $json.body.tone : ($json.tone || 'professional') }}\",\n  \"pages\": {{ ($json.body && $json.body.pages) ? $json.body.pages : ($json.pages || 1) }}\n}",
          "options": {}
        },
        "id": "input",
        "name": "User Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          -16
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.job_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "checkJdSource",
        "name": "Check JD Source",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          448,
          -16
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.job_url.toLowerCase() }}",
                "rightValue": "linkedin.com",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "checkLinkedIn",
        "name": "Is LinkedIn?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          672,
          -112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://job-fetcher:3000/fetch",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"url\": \"{{ $json.job_url }}\",\n  \"options\": { \"timeoutMs\": 45000 }\n}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "fetchJobFetcher",
        "name": "Fetch via Job-Fetcher",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -208
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'job-fetcher';\nlet fetchError = null;\nlet fetchBlocked = false;\nlet blockReason = null;\nlet applyUrl = null;\nlet jobTitle = null;\nlet jobCompany = null;\nlet jobLocation = null;\n\nif (fetchResult.ok && !fetchResult.blocked) {\n  jdText = fetchResult.descriptionText || '';\n  applyUrl = fetchResult.applyUrl || null;\n  jobTitle = fetchResult.title || null;\n  jobCompany = fetchResult.company || null;\n  jobLocation = fetchResult.location || null;\n} else if (fetchResult.blocked) {\n  fetchError = `LinkedIn blocked: ${fetchResult.reason || 'unknown'}`;\n  fetchBlocked = true;\n  blockReason = fetchResult.reason;\n  applyUrl = fetchResult.applyUrl || null;\n  jdSource = 'blocked';\n} else {\n  fetchError = fetchResult.error || fetchResult.message || 'Unknown error';\n  jdSource = 'fetch_failed';\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl,\n    job_title: jobTitle,\n    job_company: jobCompany,\n    job_location: jobLocation\n  }\n}];"
        },
        "id": "processJobFetcher",
        "name": "Process Job-Fetcher Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -208
        ]
      },
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ encodeURIComponent($json.job_url) }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "fetchJinaReader",
        "name": "Fetch via Jina Reader",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -16
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const input = $('User Input').item.json;\nconst fetchResult = $input.first().json;\n\nlet jdText = '';\nlet jdSource = 'jina';\nlet fetchError = null;\n\nif (fetchResult.error || fetchResult.code === 'ECONNABORTED') {\n  fetchError = fetchResult.error?.message || fetchResult.message || 'Request timed out or blocked';\n  jdText = '';\n  jdSource = 'fetch_failed';\n} else {\n  const fetchedText = fetchResult.data || fetchResult.body || '';\n  jdText = String(fetchedText).trim();\n  \n  if (jdText.length < 100) {\n    jdText = '';\n    jdSource = 'fetch_failed';\n    fetchError = 'Response too short or empty';\n  }\n}\n\nreturn [{\n  json: {\n    ...input,\n    jd_text: jdText,\n    jd_source: jdSource,\n    fetch_error: fetchError,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"
        },
        "id": "processJinaResponse",
        "name": "Process Jina Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $('User Input').item.json;\nreturn [{\n  json: {\n    ...input,\n    jd_source: 'manual',\n    fetch_error: null,\n    fetch_blocked: false,\n    block_reason: null,\n    apply_url: null,\n    job_title: null,\n    job_company: null,\n    job_location: null\n  }\n}];"
        },
        "id": "useManualJd",
        "name": "Use Manual JD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          176
        ]
      },
      {
        "parameters": {
          "fileSelector": "/data/input/master_resume.pdf"
        },
        "id": "readResume",
        "name": "Read Resume",
        "type": "n8n-nodes-base.readBinaryFiles",
        "typeVersion": 1,
        "position": [
          1344,
          -16
        ]
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "extractText",
        "name": "Extract PDF Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1568,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst resumeText = item.json.text || '';\n\nlet jdData = null;\nconst processNodes = ['Process Job-Fetcher Response', 'Process Jina Response', 'Use Manual JD'];\nfor (const nodeName of processNodes) {\n  try {\n    const nodeData = $(nodeName).first().json;\n    if (nodeData && nodeData.jd_source !== undefined) {\n      jdData = nodeData;\n      break;\n    }\n  } catch (e) {\n  }\n}\n\nif (!jdData) {\n  jdData = { jd_text: '', jd_source: 'unknown' };\n}\n\nreturn [{\n  json: {\n    text: resumeText,\n    jd_text: jdData.jd_text || '',\n    jd_source: jdData.jd_source || 'unknown',\n    fetch_error: jdData.fetch_error || null,\n    fetch_blocked: jdData.fetch_blocked || false,\n    block_reason: jdData.block_reason || null,\n    apply_url: jdData.apply_url || null,\n    job_title: jdData.job_title || null,\n    job_company: jdData.job_company || null,\n    job_location: jdData.job_location || null\n  }\n}];"
        },
        "id": "mergeJdData",
        "name": "Merge JD Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          -16
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=You are an expert resume parser. Extract structured data from this resume text.\n\nResume text:\n{{ $json.text }}\n\nReturn JSON with these fields:\n{\n  \"name\": \"Full Name\",\n  \"title\": \"Current/Target Job Title\",\n  \"contact\": { \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"github\": \"\" },\n  \"summary\": \"Professional summary\",\n  \"experience\": [{ \"title\": \"\", \"company\": \"\", \"location\": \"\", \"dates\": \"\", \"bullets\": [] }],\n  \"education\": [{ \"degree\": \"\", \"school\": \"\", \"dates\": \"\", \"gpa\": \"\" }],\n  \"skills\": { \"technical\": [], \"frameworks\": [], \"tools\": [], \"soft\": [] },\n  \"certifications\": []\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "parseResume",
        "name": "Parse Resume",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2016,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o"
          },
          "messages": {
            "values": [
              {
                "content": "=STEP 1: Determine candidate level based on years of experience, job titles, and responsibility complexity:\n- JUNIOR (0-2 years): Entry-level tasks, learning, assisting\n- MID (2-5 years): Independent work, some ownership\n- SENIOR (5+ years): Leadership, architecture, mentoring\n\nSTEP 2: Enhance resume ONLY within the candidate's level.\n\nABSOLUTE RULES - VIOLATION = FAILURE:\n1. NEVER add numbers, percentages, or metrics NOT in original\n2. NEVER add team sizes, revenue, or user counts NOT in original\n3. NEVER add technologies NOT mentioned in original\n4. NEVER claim achievements above candidate's level:\n   - Junior cannot \"led team\" or \"architected system\"\n   - Mid cannot \"saved company $5M\" or \"managed department\"\n5. NEVER add outcomes that weren't stated\n\nALLOWED:\n- Replace weak verbs with action verbs appropriate to level\n- Add JD keywords IF the underlying skill exists in original\n- Rephrase for clarity and impact\n- Highlight relevant existing experience\n\nEXAMPLES:\nJUNIOR Original: \"Helped with code reviews\"\n OK: \"Participated in code review process\"\n WRONG: \"Conducted 50+ code reviews, reducing bugs by 30%\"\n\nMID Original: \"Worked on backend features\"\n OK: \"Developed backend features\"\n WRONG: \"Architected scalable microservices handling 1M requests\"\n\nSENIOR Original: \"Led development team\"\n OK: \"Directed software development initiatives\"\n WRONG: \"Led team of 25 engineers\" (if number not in original)\n\n---\nOriginal Resume:\n{{ JSON.stringify($json.message?.content || $json) }}\n\nJob Description (for keywords only):\n{{ $('Merge JD Data').item.json.jd_text.substring(0, 4000) }}\n\nReturn ONLY this JSON:\n{\"detected_level\":\"junior|mid|senior\",\"enhanced_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}"
              }
            ]
          },
          "options": {}
        },
        "id": "enhance",
        "name": "Enhance Resume",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2368,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nlet enhancedData;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet content = input.message?.content || input.content || input;\nif (typeof content === 'string') {\n  try {\n    content = stripMarkdown(content);\n    enhancedData = JSON.parse(content);\n  } catch (e) {\n    throw new Error('Failed to parse Enhance Resume output: ' + content.substring(0, 200));\n  }\n} else {\n  enhancedData = content;\n}\n\nconst detectedLevel = enhancedData.detected_level || 'mid';\nconst enhancedResume = enhancedData.enhanced_resume || enhancedData;\n\nlet originalContent = $('Parse Resume').item.json.message?.content;\nlet originalResume;\nif (typeof originalContent === 'string') {\n  try {\n    originalContent = stripMarkdown(originalContent);\n    originalResume = JSON.parse(originalContent);\n  } catch (e) {\n    originalResume = { raw: originalContent };\n  }\n} else {\n  originalResume = originalContent;\n}\n\nreturn [{\n  json: {\n    detected_level: detectedLevel,\n    enhanced_resume: enhancedResume,\n    original_resume: originalResume\n  }\n}];"
        },
        "id": "verify",
        "name": "Verify Resume",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2720,
          -16
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=You are a JSON-only fact-checker. You MUST respond with ONLY valid JSON.\n\nORIGINAL RESUME:\n{{ JSON.stringify($json.original_resume) }}\n\nENHANCED RESUME:\n{{ JSON.stringify($json.enhanced_resume) }}\n\nDETECTED LEVEL: {{ $json.detected_level }}\n\nCheck each bullet point for fabrications:\n1. Added numbers/metrics NOT in original = violation\n2. Added technologies NOT in original = violation\n3. Claims above candidate level = violation\n\nFor violations: revert to truthful version using ONLY original facts.\n\nReturn ONLY this JSON:\n{\"verified\":true,\"violations_found\":0,\"corrected_resume\":{\"name\":\"...\",\"title\":\"...\",\"contact\":{\"email\":\"...\",\"phone\":\"...\",\"location\":\"...\"},\"summary\":\"...\",\"experience\":[{\"title\":\"...\",\"company\":\"...\",\"dates\":\"...\",\"bullets\":[\"...\"]}],\"education\":[{\"degree\":\"...\",\"school\":\"...\",\"dates\":\"...\"}],\"skills\":{\"technical\":[],\"frameworks\":[],\"tools\":[]},\"certifications\":[]}}\n\nIf no violations, copy enhanced_resume into corrected_resume unchanged."
              }
            ]
          },
          "options": {}
        },
        "id": "verifyLlm",
        "name": "Verify LLM",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2944,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet verifyContent = input.message?.content || input;\nif (typeof verifyContent === 'string') {\n  try {\n    verifyContent = stripMarkdown(verifyContent);\n    verifyContent = JSON.parse(verifyContent);\n  } catch (e) {\n    throw new Error('Failed to parse Verify LLM response: ' + String(verifyContent).substring(0, 200));\n  }\n}\n\nconst correctedResume = verifyContent.corrected_resume || verifyContent;\nconst verified = verifyContent.verified;\nconst violationsFound = verifyContent.violations_found || 0;\n\nconst mergeData = $('Merge JD Data').item.json;\nconst jdText = mergeData.jd_text || '';\nconst jdLength = jdText.length;\nconst fetchBlocked = mergeData.fetch_blocked || false;\nconst blockReason = mergeData.block_reason || null;\nconst applyUrl = mergeData.apply_url || null;\n\nlet resumeText = '';\nif (correctedResume.summary) resumeText += correctedResume.summary + ' ';\nif (correctedResume.experience) {\n  correctedResume.experience.forEach(exp => {\n    if (exp.bullets) resumeText += exp.bullets.join(' ') + ' ';\n  });\n}\nif (correctedResume.skills) {\n  Object.values(correctedResume.skills).forEach(arr => {\n    if (Array.isArray(arr)) resumeText += arr.join(' ') + ' ';\n  });\n}\nconst resumeLength = resumeText.length;\n\nreturn [{\n  json: {\n    corrected_resume: correctedResume,\n    verified: verified,\n    violations_found: violationsFound,\n    jd_text: jdText,\n    jd_length: jdLength,\n    resume_length: resumeLength,\n    fetch_blocked: fetchBlocked,\n    block_reason: blockReason,\n    apply_url: applyUrl\n  }\n}];"
        },
        "id": "prepareAts",
        "name": "Prepare ATS Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3296,
          -16
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=You are an ATS (Applicant Tracking System) keyword analyzer. You MUST respond with ONLY valid JSON.\n\nJOB DESCRIPTION:\n{{ $json.jd_text.substring(0, 6000) }}\n\nRESUME:\n{{ JSON.stringify($json.corrected_resume) }}\n\nTASK:\n1. Extract 20-60 important keywords from the Job Description\n2. Check which keywords appear in the resume\n3. Calculate ATS score: round(matched / total * 100)\n\nReturn ONLY this JSON:\n{\n  \"keywords\": [\"keyword1\", \"keyword2\"],\n  \"matched_keywords\": [\"keyword1\"],\n  \"missing_keywords\": [\"keyword2\"],\n  \"ats_score\": 75,\n  \"notes\": \"Brief recommendation\"\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "atsAnalyzer",
        "name": "ATS Analyzer",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          3520,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=You are an expert cover letter writer. Create a professional cover letter.\n\nCANDIDATE INFO:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nSummary: {{ $('Prepare ATS Input').item.json.corrected_resume.summary }}\n\nKEY EXPERIENCE:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\n\nSKILLS:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"cover_letter\": \"Full cover letter text\",\n  \"word_count\": 250\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateCoverLetter",
        "name": "Generate Cover Letter",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          3872,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=Generate thoughtful questions for the candidate to ask recruiters.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"questions\": [{\"category\": \"About the Role\", \"items\": [{\"question\": \"...\", \"why_ask\": \"...\", \"listen_for\": \"...\"}]}],\n  \"questions_to_avoid\": [\"...\"],\n  \"total_count\": 10\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateRecruiterQuestions",
        "name": "Generate Recruiter Questions",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          4224,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=Create interview preparation guide.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nReturn ONLY this JSON:\n{\n  \"interview_questions\": [{\"type\": \"behavioral\", \"question\": \"...\", \"key_points\": [], \"example_answer\": \"...\"}],\n  \"achievements_to_highlight\": [{\"achievement\": \"...\", \"context\": \"...\", \"how_to_present\": \"...\"}],\n  \"gaps_to_address\": [{\"gap\": \"...\", \"mitigation\": \"...\"}],\n  \"pre_interview_checklist\": [],\n  \"salary_tips\": \"...\"\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateInterviewPrep",
        "name": "Generate Interview Prep",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          4576,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=Create STAR-formatted stories from experience.\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"star_stories\": [{\"competency\": \"...\", \"best_for_questions\": [], \"situation\": \"...\", \"task\": \"...\", \"action\": \"...\", \"result\": \"...\", \"quick_version\": \"...\"}],\n  \"story_count\": 5\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateStarStories",
        "name": "Generate STAR Stories",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          4928,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=Create 30-60-90 day plan.\n\nJOB INFO:\nRole: {{ $('Merge JD Data').item.json.job_title || 'Not specified' }}\nCompany: {{ $('Merge JD Data').item.json.job_company || 'Not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nReturn ONLY this JSON:\n{\n  \"plan\": {\n    \"days_1_30\": {\"title\": \"Learn\", \"goals\": [], \"actions\": [], \"success_metrics\": []},\n    \"days_31_60\": {\"title\": \"Contribute\", \"goals\": [], \"actions\": [], \"success_metrics\": []},\n    \"days_61_90\": {\"title\": \"Lead\", \"goals\": [], \"actions\": [], \"success_metrics\": []}\n  },\n  \"questions_for_manager\": []\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generate306090Plan",
        "name": "Generate 30-60-90 Plan",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          5632,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=Analyze skill gaps.\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 4000) }}\n\nCANDIDATE RESUME:\n{{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume) }}\n\nReturn ONLY this JSON:\n{\n  \"executive_summary\": {\"overall_fit\": \"Strong|Moderate|Stretch\", \"critical_gaps_count\": 0, \"moderate_gaps_count\": 0, \"fit_score\": 75},\n  \"critical_gaps\": [{\"skill\": \"...\", \"required_level\": \"...\", \"current_state\": \"...\", \"impact\": \"...\", \"mitigation\": {}}],\n  \"moderate_gaps\": [{\"skill\": \"...\", \"gap_description\": \"...\", \"mitigation\": \"...\"}],\n  \"transferable_skills\": [{\"your_skill\": \"...\", \"covers_gap\": \"...\", \"how_to_position\": \"...\"}],\n  \"development_roadmap\": {\"quick_wins\": [], \"medium_term\": [], \"long_term\": []}\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateGapAnalysis",
        "name": "Generate Gap Analysis",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          5984,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prepareAts = $('Prepare ATS Input').item.json;\n\nconst stripMarkdown = (s) => s.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nconst parseNodeOutput = (nodeName) => {\n  try {\n    let raw = $(nodeName).item.json.message?.content || $(nodeName).item.json;\n    if (typeof raw === 'string') {\n      raw = stripMarkdown(raw);\n      return JSON.parse(raw);\n    }\n    return raw;\n  } catch (e) {\n    return { error: `Failed to parse ${nodeName}` };\n  }\n};\n\nlet atsContent = parseNodeOutput('ATS Analyzer');\nif (prepareAts.jd_length < 200) {\n  atsContent = {\n    keywords: [],\n    matched_keywords: [],\n    missing_keywords: [],\n    ats_score: null,\n    notes: 'JD too short for ATS analysis.'\n  };\n}\n\nconst ats = {\n  ats_score: atsContent.ats_score,\n  matched_keywords: atsContent.matched_keywords || [],\n  missing_keywords: atsContent.missing_keywords || [],\n  notes: atsContent.notes || ''\n};\n\nconst coverLetterData = parseNodeOutput('Generate Cover Letter');\nconst recruiterQuestions = parseNodeOutput('Generate Recruiter Questions');\nconst interviewPrep = parseNodeOutput('Generate Interview Prep');\nconst starStories = parseNodeOutput('Generate STAR Stories');\nconst whyCompany = parseNodeOutput('Generate Why Company');\nconst plan306090 = parseNodeOutput('Generate 30-60-90 Plan');\n\nlet gapRaw = $input.first().json.message?.content || $input.first().json;\nlet gapAnalysis = null;\nif (typeof gapRaw === 'string') {\n  try {\n    gapRaw = stripMarkdown(gapRaw);\n    gapAnalysis = JSON.parse(gapRaw);\n  } catch (e) {\n    gapAnalysis = { error: 'Failed to parse gap analysis' };\n  }\n} else {\n  gapAnalysis = gapRaw;\n}\n\nreturn [{\n  json: {\n    corrected_resume: prepareAts.corrected_resume,\n    verified: prepareAts.verified,\n    violations_found: prepareAts.violations_found,\n    jd_length: prepareAts.jd_length,\n    resume_length: prepareAts.resume_length,\n    fetch_blocked: prepareAts.fetch_blocked,\n    block_reason: prepareAts.block_reason,\n    apply_url: prepareAts.apply_url,\n    ats: ats,\n    keyword_count_matched: ats.matched_keywords.length,\n    keyword_count_missing: ats.missing_keywords.length,\n    keyword_count_total: (atsContent.keywords || []).length,\n    cover_letter: coverLetterData.cover_letter || '',\n    cover_letter_word_count: coverLetterData.word_count || 0,\n    recruiter_questions: recruiterQuestions,\n    interview_prep: interviewPrep,\n    star_stories: starStories,\n    why_company: whyCompany,\n    plan_30_60_90: plan306090,\n    gap_analysis: gapAnalysis\n  }\n}];"
        },
        "id": "mergeAts",
        "name": "Merge ATS Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6336,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst r = input.corrected_resume;\n\nif (!r || !r.name) {\n  throw new Error('No corrected_resume found in input');\n}\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Arial', sans-serif; font-size: 11pt; line-height: 1.4; color: #333; padding: 0.5in; max-width: 8.5in; }\n    h1 { font-size: 18pt; color: #1a1a1a; margin-bottom: 2px; }\n    .title { font-size: 12pt; color: #555; margin-bottom: 8px; }\n    .contact { font-size: 9pt; color: #666; margin-bottom: 15px; }\n    h2 { font-size: 12pt; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 15px 0 8px 0; text-transform: uppercase; }\n    .job { margin-bottom: 12px; }\n    .job-header { display: flex; justify-content: space-between; margin-bottom: 3px; }\n    .job-title { font-weight: bold; }\n    ul { margin-left: 18px; margin-top: 3px; }\n    li { margin-bottom: 2px; }\n    .edu { margin-bottom: 8px; }\n    .skills { display: flex; flex-wrap: wrap; gap: 15px; }\n    .skill-group { flex: 1; min-width: 200px; }\n    .skill-label { font-weight: bold; font-size: 10pt; }\n  </style>\n</head>\n<body>\n  <h1>${esc(r.name)}</h1>\n  <div class=\"title\">${esc(r.title)}</div>\n  <div class=\"contact\">\n    ${r.contact?.email || ''} ${r.contact?.phone ? ' | ' + r.contact.phone : ''} ${r.contact?.location ? ' | ' + r.contact.location : ''}\n  </div>\n  ${r.summary ? '<h2>Summary</h2><p>' + esc(r.summary) + '</p>' : ''}\n  ${r.experience?.length ? '<h2>Experience</h2>' + r.experience.map(j => '<div class=\"job\"><div class=\"job-header\"><span class=\"job-title\">' + esc(j.title) + ' | ' + esc(j.company) + '</span><span>' + esc(j.dates) + '</span></div>' + (j.bullets?.length ? '<ul>' + j.bullets.map(b => '<li>' + esc(b) + '</li>').join('') + '</ul>' : '') + '</div>').join('') : ''}\n  ${r.education?.length ? '<h2>Education</h2>' + r.education.map(e => '<div class=\"edu\"><strong>' + esc(e.degree) + '</strong> - ' + esc(e.school) + (e.dates ? ' | ' + esc(e.dates) : '') + '</div>').join('') : ''}\n  ${r.skills ? '<h2>Skills</h2><div class=\"skills\">' + Object.entries(r.skills).filter(([k,v]) => v?.length).map(([k,v]) => '<div class=\"skill-group\"><span class=\"skill-label\">' + k + ':</span> ' + v.join(', ') + '</div>').join('') + '</div>' : ''}\n  ${r.certifications?.length ? '<h2>Certifications</h2><ul>' + r.certifications.map(c => '<li>' + esc(c) + '</li>').join('') + '</ul>' : ''}\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html,\n    resume: r,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    why_company: input.why_company,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  }\n}];"
        },
        "id": "buildHtml",
        "name": "Build HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6560,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst html = input.html;\nconst htmlBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: {\n    resume: input.resume,\n    verified: input.verified,\n    violations_found: input.violations_found,\n    fetch_blocked: input.fetch_blocked,\n    block_reason: input.block_reason,\n    apply_url: input.apply_url,\n    ats: input.ats,\n    jd_length: input.jd_length,\n    resume_length: input.resume_length,\n    keyword_count_matched: input.keyword_count_matched,\n    keyword_count_missing: input.keyword_count_missing,\n    keyword_count_total: input.keyword_count_total,\n    cover_letter: input.cover_letter,\n    cover_letter_word_count: input.cover_letter_word_count,\n    recruiter_questions: input.recruiter_questions,\n    interview_prep: input.interview_prep,\n    star_stories: input.star_stories,\n    why_company: input.why_company,\n    plan_30_60_90: input.plan_30_60_90,\n    gap_analysis: input.gap_analysis\n  },\n  binary: {\n    'index.html': {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
        },
        "id": "prepareFile",
        "name": "Prepare PDF File",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6784,
          -16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://gotenberg:3000/forms/chromium/convert/html",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "index.html"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "pdf"
              }
            }
          }
        },
        "id": "sendToPdf",
        "name": "Convert to PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7008,
          -16
        ]
      },
      {
        "parameters": {
          "fileName": "=/data/output/improved_resume.pdf",
          "dataPropertyName": "pdf",
          "options": {}
        },
        "id": "writePdf",
        "name": "Write PDF",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          7232,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const prepareFile = $('Prepare PDF File').item.json;\nconst resume = prepareFile.resume;\nconst mergeJdData = $('Merge JD Data').item.json;\nconst jdSource = mergeJdData.jd_source;\nconst fetchBlocked = prepareFile.fetch_blocked;\nconst blockReason = prepareFile.block_reason;\nconst applyUrl = prepareFile.apply_url;\n\nconst response = {\n  success: true,\n  name: resume?.name,\n  title: resume?.title,\n  jd_source: jdSource,\n  verified: prepareFile.verified,\n  violations_corrected: prepareFile.violations_found || 0,\n  output_files: {\n    resume: '/data/output/improved_resume.pdf',\n    cover_letter: '/data/output/cover_letter.md',\n    why_company: '/data/output/why_company.md'\n  },\n  job_fetch: {\n    blocked: fetchBlocked || false,\n    reason: blockReason,\n    apply_url: applyUrl\n  },\n  ats: prepareFile.ats || { ats_score: null },\n  why_company: prepareFile.why_company || null,\n  cover_letter: prepareFile.cover_letter || null,\n  cover_letter_word_count: prepareFile.cover_letter_word_count || 0,\n  recruiter_questions: prepareFile.recruiter_questions || null,\n  interview_prep: prepareFile.interview_prep || null,\n  star_stories: prepareFile.star_stories || null,\n  plan_30_60_90: prepareFile.plan_30_60_90 || null,\n  gap_analysis: prepareFile.gap_analysis || null,\n  message: prepareFile.ats?.ats_score !== null ? `Resume enhanced. ATS Score: ${prepareFile.ats.ats_score}%.` : 'Resume enhanced.'\n};\n\nreturn [{ json: response }];"
        },
        "id": "summary",
        "name": "Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7456,
          -16
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "=You are a career coach helping a candidate answer \"Why do you want to work at [Company]?\" for a job application.\n\nCOMPANY: {{ $('Merge JD Data').item.json.job_company || 'this company' }}\nROLE: {{ $('Merge JD Data').item.json.job_title || 'this role' }}\n\nJOB DESCRIPTION:\n{{ $('Prepare ATS Input').item.json.jd_text.substring(0, 3000) }}\n\nCANDIDATE BACKGROUND:\nName: {{ $('Prepare ATS Input').item.json.corrected_resume.name }}\nTitle: {{ $('Prepare ATS Input').item.json.corrected_resume.title }}\nExperience: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.experience?.slice(0, 2)) }}\nSkills: {{ JSON.stringify($('Prepare ATS Input').item.json.corrected_resume.skills) }}\n\nTASK:\nWrite a compelling, authentic \"Why [Company]?\" response (150-250 words) that:\n1. Shows genuine interest in the company's mission/product\n2. Connects specific aspects of the role to the candidate's experience\n3. Mentions company culture/values if evident from the JD\n4. Avoids generic flattery - be specific and authentic\n5. Ends with forward-looking enthusiasm\n\nCRITICAL: Only reference skills/experience actually in the resume.\n\nReturn ONLY this JSON:\n{\n  \"why_company\": \"The full response text\",\n  \"key_points\": [\"Point 1\", \"Point 2\", \"Point 3\"],\n  \"word_count\": 200\n}"
              }
            ]
          },
          "options": {}
        },
        "id": "generateWhyCompany",
        "name": "Generate Why Company",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          5280,
          -16
        ],
        "credentials": {
          "openAiApi": {
            "id": "hOAw1sDSztQJe5O9",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "User Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "User Input": {
        "main": [
          [
            {
              "node": "Check JD Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check JD Source": {
        "main": [
          [
            {
              "node": "Is LinkedIn?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Use Manual JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is LinkedIn?": {
        "main": [
          [
            {
              "node": "Fetch via Job-Fetcher",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch via Jina Reader",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch via Job-Fetcher": {
        "main": [
          [
            {
              "node": "Process Job-Fetcher Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Job-Fetcher Response": {
        "main": [
          [
            {
              "node": "Read Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch via Jina Reader": {
        "main": [
          [
            {
              "node": "Process Jina Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Jina Response": {
        "main": [
          [
            {
              "node": "Read Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Manual JD": {
        "main": [
          [
            {
              "node": "Read Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Resume": {
        "main": [
          [
            {
              "node": "Extract PDF Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract PDF Text": {
        "main": [
          [
            {
              "node": "Merge JD Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge JD Data": {
        "main": [
          [
            {
              "node": "Parse Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Resume": {
        "main": [
          [
            {
              "node": "Enhance Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enhance Resume": {
        "main": [
          [
            {
              "node": "Verify Resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Resume": {
        "main": [
          [
            {
              "node": "Verify LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify LLM": {
        "main": [
          [
            {
              "node": "Prepare ATS Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare ATS Input": {
        "main": [
          [
            {
              "node": "ATS Analyzer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATS Analyzer": {
        "main": [
          [
            {
              "node": "Generate Cover Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Cover Letter": {
        "main": [
          [
            {
              "node": "Generate Recruiter Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Recruiter Questions": {
        "main": [
          [
            {
              "node": "Generate Interview Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Interview Prep": {
        "main": [
          [
            {
              "node": "Generate STAR Stories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate STAR Stories": {
        "main": [
          [
            {
              "node": "Generate Why Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate 30-60-90 Plan": {
        "main": [
          [
            {
              "node": "Generate Gap Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Gap Analysis": {
        "main": [
          [
            {
              "node": "Merge ATS Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge ATS Data": {
        "main": [
          [
            {
              "node": "Build HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build HTML": {
        "main": [
          [
            {
              "node": "Prepare PDF File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare PDF File": {
        "main": [
          [
            {
              "node": "Convert to PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to PDF": {
        "main": [
          [
            {
              "node": "Write PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write PDF": {
        "main": [
          [
            {
              "node": "Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Why Company": {
        "main": [
          [
            {
              "node": "Generate 30-60-90 Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Konstantin Glushenkov",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-31T05:26:43.445Z",
        "id": 2,
        "workflowId": "eFuxZH5SWveqfVCX",
        "versionId": "cb41ed35-19b1-4c07-aef4-9c1a53328130",
        "event": "activated",
        "userId": "03c57380-7d29-4f48-b613-656c652b9756"
      }
    ]
  }
}